.contenedor-menu {
    background-color: #E6EFFD;
    padding: 10px 15px;
    min-height: 100%;
    .item-hijo {
        margin: 10px 15px;
        cursor: pointer;
        :hover{
            text-decoration: underline;
        }
    }
    
}
