@import "../../../../../variables.scss";

.icon-img {
  width: 50px;
}


.mat-dialog-title{
  text-align-last: center;
}

.title-modal{
  font-family: "Montserrat";
  font-size: 32px;
  margin-block-start: 0;

}

.dialog-content{
  text-align: center;
  font-size: 16px;
  color: $primary-color;
  font-family: "Montserrat";
}

.modal-action{
  justify-content: center;
}

.specific{
  background-color: #cac8c8;
}


.mat-icon{
  height: 50px;
  width: 50px;
  margin-top: 12px;

}

