<div class="p-grid" style="padding-top:20px;">
    <div class="p-col-12">
        <p-message severity="info" text="Corresponde a 
        las materias primas, productos intermedios, partes y piezas de fabricación 
        extranjera, utilizados en la elaboración del producto, ya sean importados 
        directamente por el fabricante o adquiridos en el mercado nacional importados 
        directamente por el proveedor.">
        </p-message>
    </div>
</div>

<div class="table">
    <div class="title">
        <div class="sub-title">
            <button style="margin-right: 20px;" (click)="agregarInsumo()">
                AGREGAR INSUMOS
            </button>
            <span class="spacer"></span>
            <div class="input-group">
                <input placeholder="Buscar" type="text" [(ngModel)]="busqueda" (ngModelChange)="onBuscar()" />
                <mat-icon svgIcon="buscar-circular-negativo"></mat-icon>
            </div>
        </div>
    </div>

    <p-table [value]="materiales" [customSort]="true" [lazy]="true" (onLazyLoad)="onSort($event)">
        <ng-template pTemplate="header">
            <tr>
                <th *ngFor="let columna of columnas" [pSortableColumn]="columna.pSortableColumn">
                    <span class="headline-m --dark-primary-color">
                        {{columna.titulo}}<p-sortIcon *ngIf="columna.sortField!=''" [field]="columna.sortField">
                        </p-sortIcon>
                    </span>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-material let-index="rowIndex">
            <tr>
                <td>
                    <p class="body-uno">{{material['nombreTecnico']}}</p>
                </td>
                <td>
                    <p class="body-uno">{{material['subpartidaId']}}</p>
                </td>
                <td>
                    <p class="body-uno">{{material['paisOrigenId']}}</p>
                </td>
                <td>
                    <p class="body-uno">{{material['paisProcedenciaId']}}</p>
                </td>
                <td>
                    <p class="body-uno">{{material['unidadId']}}</p>
                </td>
                <td>
                    <p class="body-uno">{{material['cantidad']}}</p>
                </td>
                <td>
                    <p class="body-uno">{{material['valorCif']}}</p>
                </td>
                <td>
                    <p class="body-uno">{{material['valorPlanta']}}</p>
                </td>
                <td class="center">
                    <mat-icon class="pointer" svgIcon="editar-positivo" (click)="agregarInsumo(material)"></mat-icon>
                </td>
                <td class="center">
                    <mat-icon class="pointer" svgIcon="papelera-positivo"
                        (click)="eliminarMaterial(material.id, index)"></mat-icon>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div *ngIf="materiales.length==0">
        <p class="content body-uno">No se encontraron registros coincidentes</p>
    </div>
</div>

<br />
<br />

<div class="button-group">
    <span class="spacer"></span>
    <button class="outlined" style="margin-right: 20px;" [disabled]="materiales.length==0" (click)="downloadFile()">
        IMPORTAR TODOS LOS REGISTROS
    </button>
    <button class="outlined" [disabled]="materiales.length==0" (click)="abrirEliminarConfirmacion(eliminarTemplate)">
        ELIMINAR TODOS LOS REGISTROS
    </button>
</div>

<h2 class="headline-s">Cargue masivo de materiales extranjeros</h2>
<hr />

<div class="cargue-masivo">
    <div (click)="downloadFormato()">
        <mat-icon class="pointer" svgIcon="descargar"></mat-icon>
        <label class="link">DESCARGAR FORMATO EN EXCEL</label>
    </div>
    <div>
        <button class="outlined" (click)="seleccionarArchivo()">SELECCIONAR ARCHIVO</button>
        <input style="visibility: hidden; position: absolute;" type="file" id="input-file"
            (change)="subirArchivo($event)" accept=".csv, text/csv">
        <label>
            {{ archivo ? archivo.name : 'Ningun archivo seleccionado.'}}
        </label>
    </div>
    <button [disabled]="!archivo" (click)="cargaMasiva()">CARGA MASIVA</button>
</div>
<hr />

<form [formGroup]="getChildFormGroup()">
    <div class="p-grid">
        <div class="p-col">
            <div class="form-group">
                <label>4.9 Sumatoria de costos de Materiales importados (COP): Valor Total CIF (COP):</label>
                <input placeholder="----.--" type="number" formControlName="valorTotalCif" disabled />
            </div>
        </div>
        <div class="p-col">
            <div class="form-group">
                <label>4.10 Valor Total Planta (COP):</label>
                <input placeholder="----.--" type="number" formControlName="valorTotalPlanta" disabled />
            </div>
        </div>
    </div>
</form>

<ng-template #eliminarTemplate let-solicitud>
    <div class="modal warning">
        <div>
            <mat-icon svgIcon="informacion-circular-negativo"></mat-icon>
            <p class="body-uno">¿Seguro que desea eliminar todos los registros de la tabla Materiales Extrangeros?</p>
        </div>
        <div>
            <button class="outlined" (click)="dialogRef.close()">CANCELAR</button>
            <button (click)="onEliminarTodos(); dialogRef.close()">CONTINUAR</button>
        </div>
    </div>
</ng-template>