@import "./../../../../../../variables.scss";
@import "./../../../../../../mixins.scss";

.table {
  border-width: 2px;
  border-style: solid;
  border-color: $light-primary-color;
  border-radius: 20px;
  overflow: hidden;
  > .title {
    padding: 16px;
    > .sub-title {
      display: inline;
      > .cantidadRegistros {
        display: flex;
        align-items: center;
        select {
          height: 20px;
          margin: 0px 10px;
        }
      }
    }
  }

  td > mat-icon {
    height: 65% !important;
    > svg#Capa_1 {
      height: 65% !important;
    }
  }
  @include table;
}

.input-group {
  flex-grow: 0.5;
  > input {
    border-radius: 25px;
  }
  > mat-icon {
    vertical-align: middle;
    margin-left: -37px;
    margin-bottom: 4px;
    width: 32px;
    height: 32px;
  }
}

.content {
  padding: 16px;
}

::ng-deep {
  .p-paginator {
    .p-paginator-pages {
      .p-paginator-page {
        color: $dark-primary-color;
        border-radius: 5px;
      }
      .p-paginator-page:not(.p-highlight):hover {
        color: $dark-primary-color;
        background-color: $light-primary-color;
      }
      .p-paginator-page.p-highlight {
        color: $tertiary-color-text;
        background-color: $primary-color;
      }
    }
  }

  .p-paginator .p-paginator-first,
  .p-paginator .p-paginator-prev,
  .p-paginator .p-paginator-next,
  .p-paginator .p-paginator-last {
    border-radius: 5px;
  }

  .p-datatable .p-sortable-column .p-sortable-column-icon {
    margin-left: 0px;
  }
}

@media only screen and (min-width: 1224px) {
  p-table {
    .headline-xl {
      font-size: 24px;
      line-height: 36px;
    }

    .headline-l {
      font-size: 16px;
      line-height: 28px;
    }

    .headline-m {
      font-size: 12px;
      line-height: 22px;
    }

    .headline-s {
      font-size: 10px;
      line-height: 19px;
    }

    .headline-xs {
      font-size: 8px;
      line-height: 16px;
    }

    .subtitle {
      font-size: 10px;
      line-height: 19px;
    }

    .description {
      font-size: 12px;
      line-height: 22px;
    }

    .body-uno {
      font-size: 12px;
      line-height: 16px;
    }

    .body-dos {
      font-size: 6px;
      line-height: 13px;
    }

    .field {
      font-size: 8px;
      line-height: 14px;
    }

    .caption {
      font-size: 6px;
      line-height: 10px;
    }

    tr {
      > th {
        padding: 8px;
      }
    }
  }
}

@media only screen and (min-width: 1824px) {
  p-table {
    .headline-xl {
      font-size: 30px;
      line-height: 42px;
    }

    .headline-l {
      font-size: 22px;
      line-height: 34px;
    }

    .headline-m {
      font-size: 18px;
      line-height: 28px;
    }

    .headline-s {
      font-size: 16px;
      line-height: 25px;
    }

    .headline-xs {
      font-size: 14px;
      line-height: 22px;
    }

    .subtitle {
      font-size: 16px;
      line-height: 25px;
    }

    .description {
      font-size: 18px;
      line-height: 28px;
    }

    .body-uno {
      font-size: 14px;
      line-height: 20px;
    }

    .body-dos {
      font-size: 12px;
      line-height: 19px;
    }

    .field {
      font-size: 14px;
      line-height: 20px;
    }

    .caption {
      font-size: 12px;
      line-height: 16px;
    }

    tr {
      > th {
        padding: 14px;
      }
    }
  }
}

.material-btn-food {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  padding-top: 14px;
  button {
    background-color: transparent;
    color: $primary-color-icon;
    border-color: $primary-color-icon;
    border: 2px solid $primary-color-icon;
  }
}
