@import "../../../../../variables.scss";

.table {
    border-width: 2px;
    border-style: solid;
    border-color: $light-primary-color;
    border-radius: 20px;
    overflow: hidden;
    > .title {
        padding: 16px;
        > .sub-title {
            display: flex;
        }
    }
    tr {
        > th {
            align-items: center;
            background-color: $light-primary-color;
            > span {
                display: flex;
                align-items: center;
            }
        }
        > td.center {
            text-align: center;
        }
    }
}

.input-group {
    flex-grow: 0.5;
    > input {
        border-radius: 25px;
    }
    > mat-icon {
        vertical-align: middle;
        margin-left: -37px;
        margin-bottom: 4px;
        width: 32px;
        height: 32px;
    }
}

.content {
    padding: 16px;
}

::ng-deep {
    .p-paginator {
        .p-paginator-pages {
            .p-paginator-page {
                color: $dark-primary-color;
                border-radius: 5px;
            }
            .p-paginator-page:not(.p-highlight):hover {
                color: $dark-primary-color;
                background-color: $light-primary-color;
            }
            .p-paginator-page.p-highlight {
                color: $tertiary-color-text;
                background-color: $primary-color;
            }
        }
    }

    .p-paginator .p-paginator-first,
    .p-paginator .p-paginator-prev,
    .p-paginator .p-paginator-next,
    .p-paginator .p-paginator-last {
        border-radius: 5px;
    }
}
