<div class="table">
    <div class="title">
        <h3 class="headline-m">Borradores y/o solicitudes existentes</h3>
        <div class="sub-title">
            <button [routerLink]="'/solicitud/crear'">CREAR NUEVO REGISTRO</button>
            <span class="spacer"></span>
            <div class="input-group">
                <input placeholder="Buscar" type="text" [(ngModel)]="busqueda" (ngModelChange)="onBuscar()" />
                <mat-icon svgIcon="buscar-circular-negativo"></mat-icon>
            </div>
        </div>
    </div>
    <p-table [value]="solicitudes" [customSort]="true" [lazy]="true" (onLazyLoad)="onSort($event)">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="radicado">
                    <span class="headline-s --dark-primary-color">Radicado<p-sortIcon field="radicado"></p-sortIcon>
                    </span>
                </th>
                <th pSortableColumn="fechaCreacion">
                    <span class="headline-s --dark-primary-color">Fecha radicacion<p-sortIcon field="fechaCreacion">
                        </p-sortIcon></span>
                </th>
                <th pSortableColumn="productoNombreComercial">
                    <span class="headline-s --dark-primary-color">Nombre comercial<p-sortIcon
                            field="productoNombreComercial">
                        </p-sortIcon></span>
                </th>
                <th pSortableColumn="responsable">
                    <span class="headline-s --dark-primary-color">Responsable<p-sortIcon field="responsable">
                        </p-sortIcon>
                    </span>
                </th>
                <th pSortableColumn="programaId">
                    <span class="headline-s --dark-primary-color">Programa<p-sortIcon field="programaId"></p-sortIcon>
                    </span>
                </th>
                <th pSortableColumn="fechaActuacion">
                    <span class="headline-s --dark-primary-color">Fecha de actuacion<p-sortIcon field="fechaActuacion">
                        </p-sortIcon></span>
                </th>
                <th pSortableColumn="estado">
                    <span class="headline-s --dark-primary-color">Estado<p-sortIcon field="estado"></p-sortIcon></span>
                </th>
                <th>
                    <span class="headline-s --dark-primary-color">Archivo PDF</span>
                </th>
                <th>
                    <span class="headline-s --dark-primary-color">Carta de respuesta</span>
                </th>
                <th>
                    <span class="headline-s --dark-primary-color">Eliminar borrador</span>
                </th>
                <th>
                    <span class="headline-s --dark-primary-color">Generar copia de borrador</span>
                </th>
                <th>
                    <span class="headline-s --dark-primary-color">Cancelar registro</span>
                </th>
                <th>
                    <span class="headline-s --dark-primary-color">Ver<br/>anexos</span>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-solicitud>
            <tr>
                <td>
                    <p class="body-uno">{{solicitud['radicado']}}</p>
                </td>
                <td>
                    <p class="body-uno">{{solicitud['auditoria']['fechaCreacionFormateada']}}</p>
                </td>
                <td>
                    <p class="body-uno">{{solicitud['productoNombreComercial']}}</p>
                </td>
                <td>
                    <p class="body-uno">{{solicitud['responsable']}}</p>
                </td>
                <td>
                    <p class="body-uno">{{solicitud['programaId']}}</p>
                </td>
                <td>
                    <p class="body-uno">{{solicitud['fechaActuacionFormateada']}}</p>
                </td>
                <td>
                    <p class="body-uno">{{solicitud['estado']}}</p>
                </td>
                <td class="center">
                    <mat-icon svgIcon="pdf-positivo"></mat-icon>
                </td>
                <td class="center">
                    <mat-icon svgIcon="carta-positivo"></mat-icon>
                </td>
                <td class="center">
                    <mat-icon svgIcon="papelera-positivo"></mat-icon>
                </td>
                <td class="center">
                    <mat-icon svgIcon="copiar-positivo"></mat-icon>
                </td>
                <td class="center">
                    <mat-icon svgIcon="menos-circular-positivo"></mat-icon>
                </td>
                <td class="center">
                    <mat-icon svgIcon="adjunto-positivo"></mat-icon>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div *ngIf="solicitudes.length==0">
        <p class="content body-uno">No se encontraron registros coincidentes</p>
    </div>
    <p-paginator [rows]="pagina.registrosPorPagina" [totalRecords]="10" pageLinkSize="5"
        (onPageChange)="onPageChange($event)"></p-paginator>
</div>