<div>
    <label>
        <input type="checkbox" [(ngModel)]="maquila"/>
        <label style="color: #004884;">Si
        </label> (marque esta casilla únicamente si realiza proceso de producción bajo un contrato de MAQUILLA)
    </label>
    <div *ngIf="!maquila" style="padding-top: 1%;">
        <textarea id="motivo"
            placeholder="Digitar de Forma completa y detallada por etapas el proceso productivo del bien a registrar."
            minlength="32000"></textarea>
    </div>

    <div *ngIf="maquila">
        <label class="headline-xs">7.1 INFORMACIÓN DEL MAQUILLADOR</label>
        <div>
            <p-message severity="info" text="Ingrese la información de cada maquila">
            </p-message>
        </div>

        <div class="p-grid">
            <div class="p-col">
                <div class="form-group">
                    <label>Número de Identificación Tributaria N.I.T:</label>
                    <div class="icon-group">
                        <input type="text" />
                        <mat-icon svgIcon="informacion-circular-negativo"
                            matTooltip="Diligenciar El número de identificación Tributaria N.I.T. de la empresa maquiladora.  No se requiere digito de verificación.">
                        </mat-icon>
                    </div>
                </div>
            </div>

            <div class="p-col">
                <div class="form-group">
                    <label>Razón social:</label>
                    <div class="icon-group">
                        <input type="text" />
                        <mat-icon svgIcon="informacion-circular-negativo"
                            matTooltip="Diligenciar la razón social de acuerdo al Certificado de Existencia y Representación Legal o Matricula Mercantil registrados en el Registro único Empresarial y social RUES.">
                        </mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col">
                <div class="form-group">
                    <label>Nombre Contacto de la Empresa:</label>
                    <div class="icon-group">
                        <input type="text" />
                        <mat-icon svgIcon="informacion-circular-negativo"
                            matTooltip="Diligenciar el nombre de la persona que actuará como enlace entre la empresa maquiladora y el Grupo de Registro de Productores de Bienes Nacionales.">
                        </mat-icon>
                    </div>
                </div>
            </div>
            <div class="p-col">
                <div class="form-group">
                    <label>Correo Electrónico:</label>
                    <div class="icon-group">
                        <input type="text" />
                        <mat-icon svgIcon="informacion-circular-negativo"
                            matTooltip="Diligenciar el correo electrónico de la persona indicada como un contacto. Es muy importante que este correo electrónico sea correctamente diligenciado.">
                        </mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col">
                <div class="form-group">
                    <label>Departamento Planta:</label>
                    <div class="icon-group">
                        <input type="text" />
                        <mat-icon svgIcon="informacion-circular-negativo"
                            matTooltip="Diligenciar el departamento de ubicación de la planta de maquila del producto a registrar.">
                        </mat-icon>
                    </div>
                </div>
            </div>
            <div class="p-col">
                <div class="form-group">
                    <label>Ciudad Planta:</label>
                    <div class="icon-group">
                        <input type="text" />
                        <mat-icon svgIcon="informacion-circular-negativo"
                            matTooltip="Diligenciar la ciudad de ubicación de la planta de producción del producto a registrar.">
                        </mat-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col">
                <div class="form-group">
                    <label>Dirección Planta:</label>
                    <div class="icon-group">
                        <input type="text" />
                        <mat-icon svgIcon="informacion-circular-negativo"
                            matTooltip="Diligenciar la dirección de la planta de producción del producto a registrar. Para los procesos de producción bajo contrato de Maquila diligenciar la dirección de ubicación de la planta de producción donde se realiza la maquila.">
                        </mat-icon>
                    </div>
                </div>
            </div>
            <div class="p-col">
                <div class="form-group">
                    <label>Teléfono Planta:</label>
                    <div class="icon-group">
                        <input type="text" />
                        <mat-icon svgIcon="informacion-circular-negativo"
                            matTooltip="Diligenciar el número telefónico de la planta de producción del producto a registrar.  Para los procesos de producción bajo contrato de Maquila diligenciar el número telefónico de la planta de producción donde se realiza la maquila.">
                        </mat-icon>
                    </div>
                </div>
            </div>
        </div>
        <div style="padding: 2%; display: flex; justify-content: space-between;">
            <div style="align-items: center; display: flex;">
                <mat-icon svgIcon="adjunto-positivo">
                </mat-icon>
                <button class="outlined" style="margin-left: 10px">ADJUNTAR CONTRATO DE MAQUILA</button>
            </div>
            <button>AGREGAR</button>
        </div>
        <hr class="hr">
        <div style="padding-left: 60% ;">
            <div class="input-group">
                <input placeholder="Buscar" type="text" />
                <mat-icon svgIcon="buscar-circular-negativo"></mat-icon>
            </div>
        </div>


        <div class="table">
            <p-table [customSort]="true" [lazy]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="radicado">
                            <span class="headline-m --dark-primary-color">
                                NIT<p-sortIcon field="radicado"></p-sortIcon>
                            </span>
                        </th>
                        <th pSortableColumn="fechaCreacion">
                            <span class="headline-m --dark-primary-color">
                                Razón Social<p-sortIcon field="fechaCreacion"></p-sortIcon>
                            </span>
                        </th>
                        <th pSortableColumn="productoNombreComercial">
                            <span class="headline-m --dark-primary-color">
                                Dirección<p-sortIcon field="productoNombreComercial"></p-sortIcon>
                            </span>
                        </th>
                        <th pSortableColumn="responsable">
                            <span class="headline-m --dark-primary-color">
                                Departamento<p-sortIcon field="responsable"></p-sortIcon>
                            </span>
                        </th>
                        <th pSortableColumn="programaId">
                            <span class="headline-m --dark-primary-color">
                                Ciudad<p-sortIcon field="programaId"></p-sortIcon>
                            </span>
                        </th>
                        <th pSortableColumn="fechaActuacion">
                            <span class="headline-m --dark-primary-color">
                                Contacto<p-sortIcon field="fechaActuacion"></p-sortIcon>
                            </span>
                        </th>
                        <th pSortableColumn="estado">
                            <span class="headline-m --dark-primary-color">
                                Teléfono<p-sortIcon field="estado"></p-sortIcon>
                            </span>
                        </th>
                        <th>
                            <span class="headline-m --dark-primary-color">Correo<p-sortIcon field="estado"></p-sortIcon>
                            </span>
                        </th>
                        <th>
                            <span class="headline-m --dark-primary-color">Contrato</span>
                        </th>
                        <th>
                            <span class="headline-m --dark-primary-color">Eliminar </span>
                        </th>

                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div>
            <p class="content body-uno">No se encontraron registros coincidentes</p>
        </div>

        <div>
            <p-message severity="error"
                text="Ver numeral 4.2 'Proceso Productivo bajo Contrato de Maquila' de la circular número 019 del 31 de julio de 2015">
            </p-message>
            <label> VER NORMATIVIDAD
            </label>
        </div>
        <button>GUARDAR</button>


    </div>