.tablaContenedor {
  border: 2px solid var(--color-azul-claro);
  border-radius: 10px;
  padding: 0px;
  margin-top: 10px;
  tr {
    .expandible {
      height: 20px;
      overflow: hidden;
    }
    &.expanded {
      .expandible {
        height: auto;
      }
    }
  }
}
// .layout-con-menu .tablaContenedor {
//   max-width: calc(100% - 250px);
// }
// .tablaContenedor {
//   max-width: calc(1vw - 580px);
// }

// @media screen and (max-width: 1800px) {
//   .tablaContenedor.scrollable {
//     max-width: 1000px;
//   }
// }

.tablaContenedor {
  min-width: 800px;
}

.p-datatable-loading-icon {
  color: var(--color-azul-medio);
}
.tablaTitulosColumnas > th {
  background-color: var(--color-azul-claro) !important;
}

.tablaDatos {
  font-size: 16px;
}
.enlacesVuce {
  font-size: 16px;
  color: #3366ff !important;
}
.tablaEnlaceOpciones > a:visited {
  color: #3366ff;
}
span.p-paginator-current.ng-star-inserted {
  display: none;
}
.registroActivo {
  background-color: #ffffff;
  cursor: pointer;
}
.registroInactivo {
  background-color: #e7e7e7;
  color: #6b6868;
  cursor: default;
}

.inputBuscador {
  border-radius: 20px;
}
