<div class="p-grid" [formGroup]="getChildFormGroup()">
    <div class="p-col">
        <div class="form-group">
            <label>6.1 Total Costos Materiales Nacionales u/comercial (COP):</label>
            <br>
            <div class="icon-group">
                <input placeholder="0,00" type="number" formControlName="valorTotalUnidadProducto" disabled />
                <mat-icon class="information" svgIcon="informacion-circular-negativo"
                    matTooltip="Valor perteneciente al numeral 5.6 Valor Total Unidad Producto (COP).">
                </mat-icon>
            </div>
        </div>
    </div>
    <div class="p-col">
        <div class="form-group">
            <label>6.2 Otros Costos Directos de Fábrica u/comercial (No Incluye Materias Primas) (COP):</label>
            <div class="icon-group">
                <input placeholder="0,00" type="number" formControlName="costosDirectosFabrica" />
                <mat-icon class="information" svgIcon="informacion-circular-negativo"
                    matTooltip="Costos implicados en la produccion del bien que no estan diligenciados.  No incluye materiales nacionales ni extranjeros.">
                </mat-icon>
            </div>
            <div
                *ngIf="getChildFormGroupControl('costosDirectosFabrica').invalid && (getChildFormGroupControl('costosDirectosFabrica').dirty || getChildFormGroupControl('costosDirectosFabrica').touched)">
                <span *ngIf="getChildFormGroupControl('costosDirectosFabrica').errors?.required"
                    class="caption ng-invalid">
                    Campo obligatorio
                </span>
                <span *ngIf="getChildFormGroupControl('costosDirectosFabrica').errors?.min"
                    class="caption ng-invalid">
                    Debe ser mayor a 0
                </span>
                <span *ngIf="getChildFormGroupControl('costosDirectosFabrica').errors?.pattern"
                    class="caption ng-invalid">
                    Formato invalido
                </span>
            </div>
        </div>
    </div>
    <div class="p-col">
        <div class="form-group">
            <label>6.3 VT Valor Transacción (Precios ex Fabrica o ex Planta) (COP):</label>
            <br>
            <div class="icon-group">
                <input placeholder="0,00" type="number" formControlName="valorTransaccion" (change)="onChangeValorTransaccion($event.target.value)" />
                <mat-icon class="information" svgIcon="informacion-circular-negativo"
                    matTooltip="Debe ser mayor a la sumatoria de 4.9, 6.1, 6.2, ya que este incluye, adicionalmente, los costos indirectos de producción (por ejemplo: impuestos, publicidad, mercadeo, transporte etc.). ">
                </mat-icon>
            </div>
            <div
                *ngIf="getChildFormGroupControl('valorTransaccion').invalid && (getChildFormGroupControl('valorTransaccion').dirty || getChildFormGroupControl('valorTransaccion').touched)">
                <span *ngIf="getChildFormGroupControl('valorTransaccion').errors?.required"
                    class="caption ng-invalid">
                    Campo obligatorio
                </span>
                <span *ngIf="getChildFormGroupControl('valorTransaccion').errors?.min"
                    class="caption ng-invalid">
                    Debe ser mayor a 0
                </span>
                <span *ngIf="getChildFormGroupControl('valorTransaccion').errors?.pattern"
                    class="caption ng-invalid">
                    Formato invalido
                </span>
            </div>
        </div>
    </div>
</div>