<div class="alert">
    <button class="outlined">SELECCIONAR ARCHIVO</button>
    <div style="padding-top: 5%;">
        <label> Ningún archivo seleccionado</label>
    </div>
    <p class="body-uno ">
        <label class="label-texto"> Únicamente archivos con extensión pdf de tamaño máximo de 5MB.</label>
    </p>
    <div style="padding-top: 5%;">
        <label> Descripción*</label>
        <input type="text" placeholder="Máximo 50 caracteres" maxlength="50" />
    </div>
    <br />
    <div style="justify-content: space-between; display: flex; padding: 3% 8% 0% 8%;">
        <button class="outlined" (click)="onCancelar() ">CANCELAR</button>
        <button (click)="onSubirAnexo() ">SUBIR ANEXO</button>
    </div>
</div>
