<div class="alert">
    <mat-icon svgIcon="informacion-circular-negativo"></mat-icon>

    <p class="headline-l">Atención</p>
    <p class="body-uno">
        Las siguientes solicitudes tienen requerimientos pendientes. Por favor anexe los documentos solicitados para que
        la respectiva solicitud pueda ser evaluada.
    </p>

    <p-table [value]="solicitudes">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <span class="headline-s --dark-primary-color">
                        Radicado
                    </span>
                </th>
                <th>
                    <span class="headline-s --dark-primary-color">
                        Requerimiento
                    </span>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-solicitud>
            <tr>
                <td>
                    <p class="body-uno">{{solicitud['radicado']}}</p>
                </td>
                <td>
                    <p class="body-uno">{{solicitud['auditoria']['fechaCreacionFormateada']}}</p>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <br />
    <button (click)="onContinuar()">CONTINUAR</button>
</div>