<div class="alert" *ngIf="!simple">
    <mat-icon svgIcon="informacion-circular-negativo"></mat-icon>

    <p class="headline-l">Atención</p>
    <p class="body-uno --dark-primary-color">
        Las siguientes solicitudes tienen requerimientos pendientes.<br />
        Por favor anexe los documentos solicitados para que <br />
        la respectiva solicitud pueda ser evaluada.
    </p>

    <p-table [value]="solicitudes">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <span class="headline-s --dark-primary-color">
                        Radicado
                    </span>
                </th>
                <th>
                    <span class="headline-s --dark-primary-color">
                        Requerimiento
                    </span>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-solicitud>
            <tr>
                <td>
                    <p class="body-uno">{{solicitud['radicado']}}</p>
                </td>
                <td>
                    <p class="body-uno">{{solicitud.requerimiento}}</p>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <br />
    <button (click)="dialogRef.close()">CONTINUAR</button>
</div>

<div class="alert" *ngIf="simple">
    <mat-icon svgIcon="informacion-circular-negativo"></mat-icon>

    <p class="headline-l">Atención</p>
    <p class="body-uno --dark-primary-color">
        El radicado No. {{solicitudes[0].radicado}} se<br />
        encuentra En Requerimiento.
    </p>

    <p-table [value]="solicitudes">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <span class="headline-s --dark-primary-color">
                        Requerimiento
                    </span>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-solicitud>
            <tr>
                <td>
                    <p class="body-uno">{{solicitud.requerimiento}}</p>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <br />
    <button (click)="dialogRef.close()">CONTINUAR</button>
</div>