<div class="p-grid p-justify-center p-mx-0">
    <div class="p-lg-12 p-md-12 p-col-12 p-px-3">
        <div class="p-grid p-justify-center">

            <div [ngClass]="claseContenedor()">
                <p-table #dt [value]="datos" [dataKey]="definicionTabla.propiedadesTabla?.dataKey"
                    [rows]="definicionTabla.propiedadesTabla?.rows" [loading]="cargando" [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="RowsPerPageOptions" [styleClass]="claseTabla()" [paginator]="true"
                    [filterDelay]="0" [globalFilterFields]="
              definicionTabla.propiedadesTabla?.globalFilterFields
            " paginatorDropdownAppendTo="body" [autoLayout]="true" [selection]="datosSeleccionados"
                    (selectionChange)="actualizarSeleccion($event)">

                    <div class="p-grid table-header p-justify-between p-align-center">
                        <div class="p-col headline-m">{{ definicionTabla.titulo }}</div>
                        <div class="p-col">
                            <!-- <i class="pi pi-search p-mx-2 p-mt-1"></i> -->
                          
                                    <input type="text" id="txtBusqueda" pInputText
                                        (input)="dt.filterGlobal($event.target.value, 'contains')"
                                        [ngStyle]="{ width: '350px' }" (ngModelChange)="
                  $event.target.value = $event.target.value.toUpperCase()
                " [style]="{ 'text-transform': 'uppercase' }" class="p-inputtext-sm p-inputtext p-component inputBuscador"
                                        placeholder="Buscar" />
                                    <mat-icon svgIcon="buscar-circular-negativo" matSuffix></mat-icon>
                               
                            
                        </div>
                    </div>
                    <ng-template pTemplate="header">
                        <tr class="tablaTitulosColumnas">
                            <th *ngIf="false" style="width: 3rem"></th>
                            <th *ngIf="activarSeleccion" style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th *ngFor="let columna of definicionTabla.columnas"
                                [pSortableColumn]="columna.pSortableColumn" class="p-text-left">
                                <div class="headline-s">
                                    <span [innerHTML]="columna.titulo"></span>
                                    <p-sortIcon [field]="columna.sortField"></p-sortIcon>
                                </div>
                            </th>
                            <th *ngIf="!ocultarOpciones" class="p-pl-4 p-text-center p-px-0">
                                <div class="headline-s">Opciones</div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-fila let-expanded="expanded">
                        <tr [ngClass]="expanded ? 'expanded' : ''">
                            <td *ngIf="false">
                                <button type="button" pButton pRipple [pRowToggler]="fila"
                                    class="p-button-rounded p-button-text p-component p-button-icon-only icono-expandir"></button>
                            </td>
                            <td *ngIf="activarSeleccion">
                                <p-tableCheckbox [value]="fila"></p-tableCheckbox>
                            </td>
                            <td *ngFor="let columna of definicionTabla.columnas"
                                [ngClass]="claseColumna(fila, columna)">
                                <div *ngIf="!columna.valorHtml && !columna.ejecutarAccion">
                                    {{ obtenerValor(fila, columna) }}
                                </div>

                                <div *ngIf="columna.valorHtml" [innerHTML]="obtenerValorHtmlT(fila, columna)"></div>
                                <div *ngIf="columna.ejecutarAccion">
                                    <a href="#" (click)="calcularEjecutarAccion($event, fila, columna)">{{
                                        calcularNombreAccion(fila, columna) }}</a>
                                </div>
                            </td>

                            <td *ngIf="!ocultarOpciones">
                                <div class="p-d-flex p-jc-center">
                                    <div *ngIf="!ocultarActualizar">
                                        <a href="javascript:void(0)" (click)="
                          calcularMostrarFormaEdicion(
                            TipoProceso.ACTUALIZAR,
                            fila
                          )
                        " class="p-mr-4 enlacesVuce">{{ calcularLabelEditar(fila) }}</a>
                                    </div>
                                    <div *ngIf="mostrarContenedorVer" class="contenedor-ver">
                                        <div *ngIf="mostrarVer(fila)">
                                            <span *ngIf="definicionTabla.verHtml"
                                                [innerHTML]="definicionTabla.verHtml(fila)"></span>
                                            <a *ngIf="!definicionTabla.verHtml" href="javascript:void(0)"
                                                (click)="calcularVer(fila, $event)" class="p-mr-4 enlacesVuce">VER</a>
                                        </div>
                                    </div>
                                    <div *ngIf="!ocultarEliminar" class="contenedor-eliminar">
                                        <app-modal *ngIf="mostrarEliminar(fila)" [tituloMensaje]="'Eliminar registro'"
                                            [mensaje]="calcularMensajeEliminar()" [nombreBotonEnlace]="'ELIMINAR'"
                                            (resp)="calcularEliminar(fila, $event)" [botonCancel]="'CANCELAR'"
                                            [botonAceptar]="'ACEPTAR'" [deshabilitarGuardar]="false"
                                            [tipoElemento]="'ENLACE'">
                                        </app-modal>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-fila> </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="3">No se encontraron datos</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>