<div class="alert">
    <mat-icon [ngClass]="data.type"
        svgIcon="cara-disgusto-negativo"></mat-icon>
    <p
        [ngClass]="{'headline-xl': true, '--error-color': data.type == 'error', '--warning-color': data.type == 'warning'}">
        {{data.title}}
    </p>
    <div [ngClass]="{'body-uno': true, '--dark-primary-color': true}" [innerHTML]="data.description">
    </div>

    <br />
    <div class="button-group">
        <button (click)="onContinuar()">{{data.acceptButton}}</button>
    </div>
</div>