.sizes {
  .p-inputtext {
      display: block;
      margin-bottom: .5rem;

      &:last-child {
          margin-bottom: 0;
      }
  }
}

@import "../../../../../variables.scss";

/*Se agrega nuevamente */

.body-uno {
  font-family: $font-worksans;
  color: $primary-color-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.body-dos {
  font-family: $font-worksans;
  color: $primary-color-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.button-text {
  font-family: $font-worksans;
  color: $dark-primary-color;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-decoration: underline;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button-text:hover {
  color: $primary-color;
}

.button-text-disable {
  font-family: $font-worksans;
  color: $primary-color-text;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-decoration: underline;
  outline: none;
  text-transform: uppercase;
  cursor: not-allowed;
}

.button-content {
  font-family: $font-worksans;
  color: $tertiary-color-text;
  background-color: $primary-color;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  border-color: $primary-color;
  border-style: solid;
  cursor: pointer;
  padding: 3px 15px 3px;
}

.button-content:hover {
  background-color: $dark-primary-color;
  border-color: $dark-primary-color;
}

.button-content-disable {
  font-family: $font-worksans;
  color: $tertiary-color-text;
  background-color: $secondary-color-text;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  border-color: $secondary-color-text;
  border-style: none;
  cursor: not-allowed;
  padding: 0px 15px 0px;
}

.button-nonContent {
  font-family: $font-worksans;
  color: $primary-color;
  background-color: $tertiary-color-text;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  border-color: $primary-color;
  border-style: solid;
  cursor: pointer;
  padding: 3px 15px 3px;
}

.button-nonContent:hover {
  background-color: $dark-primary-color;
  color: $tertiary-color-text;
  border-color: $dark-primary-color;
}

.button-nonContent-disable {
  font-family: $font-worksans;
  color: $tertiary-color-text;
  background-color: $secondary-color-text;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  border-color: $secondary-color-text;
  border-style: none;
  cursor: not-allowed;
  padding: 0px 15px 0px;
}

.caption {
  font-family: $font-worksans;
  color: $primary-color-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.checker-text {
  color: $dark-primary-color;
}

.description {
  font-family: $font-worksans;
  color: $dark-primary-color;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.field {
  font-family: $font-worksans;
  color: $primary-color-text;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.form-warning {
  background-color: rgba(255, 236, 236, 0.877);
  font-family: $font-monserrat;
  color: $danger-color-text;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding: 0px 15px 0px;
  border-radius: 3px;
}

.headline-xl {
  font-family: $font-monserrat;
  color: $dark-primary-color;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.headline-l {
  font-family: $font-monserrat;
  color: $dark-primary-color;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.headline-m {
  font-family: $font-monserrat;
  color: $dark-primary-color;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.headline-s {
  font-family: $font-monserrat;
  color: $dark-primary-color;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.headline-xs {
  font-family: $font-monserrat;
  color: $dark-primary-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.headline-xs-danger {
  font-family: $font-monserrat;
  color: $danger-color-text;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

input[type=file]::-webkit-file-upload-button {
  font-family: $font-worksans;
  color: $primary-color;
  background-color: $tertiary-color-text;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  border-color: $primary-color;
  cursor: pointer;
  padding: 0px 15px 0px;
  outline: none;
  text-transform: uppercase;
}

input[type=file]::file-selector-button {
  font-family: $font-worksans;
  color: $primary-color;
  background-color: $tertiary-color-text;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  border-color: $primary-color;
  cursor: pointer;
  padding: 0px 15px 0px;
  outline: none;
  text-transform: uppercase;
}

input[type=file]::-webkit-file-upload-button:hover {
  background-color: $dark-primary-color;
  color: $tertiary-color-text;
}

input[type=file]::file-selector-button:hover {
  background-color: $dark-primary-color;
  color: $tertiary-color-text;
}

.p-checkbox .p-checkbox-box {
  border-color: $primary-color;
  border-radius: 5px;
}

.p-checkbox .p-checkbox-box:not(.p-disabled):hover {
  border-color: $primary-color;
  border-radius: 5px;
}

.p-checkbox .p-checkbox-box:not(.p-disabled).p-focus {
  border-color: $primary-color;
  border-radius: 5px;
}

.p-radiobutton .p-radiobutton-box {
  border-color: $primary-color;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled):hover {
  border-color: $primary-color;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
  border-color: $primary-color;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  background-color: $primary-color;
  color: $tertiary-color-text;
  padding: 10px;
  margin-bottom: 2px;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link{
  background-color: $primary-color;
  color: $tertiary-color-text;
}

.p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
  background-color: $dark-primary-color;
  color: $tertiary-color-text;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link{
  background-color: $dark-primary-color;
  color: $tertiary-color-text;
}

.p-accordion .p-accordion-tab:not(.p-accordion-tab-active) .p-accordion-header-link:focus {
  background-color: $primary-color;
  color: $tertiary-color-text;
}

.subtitle {
  font-family: $font-monserrat;
  color: $dark-primary-color;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

::placeholder {
  font-family: $font-worksans;
  color: $primary-color-text;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  padding-left: 0%;
}

@each $colorName, $color in $text-colors {
  .--#{$colorName} {
     color: $color;
  }
}

/*Ajuste del tamaño de los input y dropdown*/
.p-field {
  margin-bottom: 0rem;
}

.p-inputtext {
  padding-left: 2%;
  width: 400px;
  height: 30px;
  font-family: $font-worksans;
  color: $primary-color-text;
}


.p-dropdown {
  padding: 0px;
  display: flex;
  border-radius: 5px;
  height: 33px;
  width: 400px;
  text-overflow: initial;
  color: $primary-color-text;
  text-transform: uppercase;
}

.p-dropdown .p-dropdown-label {
  margin-top: -10px;
}

textarea {
  width: 402px;
  height: 34px;
  border-radius: 5px;
  padding-left: 1%;
  font-family: $font-worksans;
  color: $primary-color-text;
}

.longDescription {
  width: 942px;
  height: 47px;
  border-radius: 5px;
}

.p-col-6 {
  width: 540px;
}

.p-field img {
  width: 36px;
  height: 20px;
  margin-left: 0px;
  display: -moz-inline-grid;
}

.labeled{
  padding-left: 25px;
}

.field img {
  width: 36px;
  height: 20px;
  margin-left: -30px;
  display: -moz-inline-grid;
}

hr {
  border-color: $no-color;
  background-color: $no-color;
}

.textImg {
 position: relative;
 top: -15px;
}

.p-checkbox .p-checkbox-box {
  top: -7px;
}

.checker-text {
  position: relative;
  top: -5px;
}
