<h2 class="headline-s">AGREGAR MATERIALES EXTRANJEROS IMPORTADO DIRECTAMENTE O ADQUIRIDO EN EL MERCADO NACIONAL</h2>
<mat-dialog-content>
  <form [formGroup]="formGroup">
    <div class="p-grid">
      <div class="p-col-6">
        <div class="form-group">
          <label>4.1 Nombre Técnico:</label>
          <div class="icon-group">
            <input placeholder="Nombre Técnico" type="text" formControlName="nombreTecnico" />
            <mat-icon class="information" svgIcon="informacion-circular-negativo" matTooltip="Es el nombre con el que se conoce el 
            producto y es único por ser utilizado universalmente, el cual debe ser 
            específico con características que lo identifiquen y permitan verificar la 
            subpartida arancelaria. No incluye marcas, referencias, logos etc. Debe 
            ir en idioma español.">
            </mat-icon>
          </div>
          <div
            *ngIf="formGroup.controls.nombreTecnico.invalid && (formGroup.controls.nombreTecnico.dirty || formGroup.controls.nombreTecnico.touched)">
            <span *ngIf="formGroup.controls.nombreTecnico.errors?.required" class="caption ng-invalid">
              Campo obligatorio
            </span>
            <span *ngIf="formGroup.controls.nombreTecnico.errors?.minlength" class="caption ng-invalid">
              Debe contener minimo 3
            </span>
            <span *ngIf="formGroup.controls.nombreTecnico.errors?.minlength" class="caption ng-invalid">
              Debe contener maximo 100
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-6">
        <div class="form-group">
          <label>4.2 Subpartida:</label>
          <div class="icon-group">
            <input placeholder="Subpartida" type="number" formControlName="subpartidaId" />
            <mat-icon class="information" svgIcon="informacion-circular-negativo" matTooltip="Diligenciar la subpartida arancelaria por la cual 
                  desea registrar su producto (Decreto 2153 de 2016 Arancel de 
                  Aduanas)">
            </mat-icon>
          </div>
          <div
            *ngIf="formGroup.controls.subpartidaId.invalid && (formGroup.controls.subpartidaId.dirty || formGroup.controls.subpartidaId.touched)">
            <span *ngIf="formGroup.controls.subpartidaId.errors?.required" class="caption ng-invalid">
              Campo obligatorio
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-6">
        <div class="form-group">
          <label>4.3 País Origen:</label>
          <div class="icon-group">
            <input placeholder="País Origen" type="text" formControlName="paisOrigenId" />
            <mat-icon class="information" svgIcon="informacion-circular-negativo" matTooltip="Es el país donde se producen los materiales 
                  extranjeros.">
            </mat-icon>
          </div>
          <div
            *ngIf="formGroup.controls.paisOrigenId.invalid && (formGroup.controls.paisOrigenId.dirty || formGroup.controls.paisOrigenId.touched)">
            <span *ngIf="formGroup.controls.paisOrigenId.errors?.required" class="caption ng-invalid">
              Campo obligatorio
            </span>
          </div>
        </div>
      </div>
      <div class="p-col-6">
        <div class="form-group">
          <label>4.4 País Procedencia:</label>
          <div class="icon-group">
            <input placeholder="País Procedencia" type="text" formControlName="paisProcedenciaId" />
            <mat-icon class="information" svgIcon="informacion-circular-negativo" matTooltip="Es el país de embarque del material 
              extranjero. Si el material extranjero es comprado en Colombia, pero de 
              origen extranjero debe indicarse país de procedencia Colombia.">
            </mat-icon>
          </div>
          <div
            *ngIf="formGroup.controls.paisProcedenciaId.invalid && (formGroup.controls.paisProcedenciaId.dirty || formGroup.controls.paisProcedenciaId.touched)">
            <span *ngIf="formGroup.controls.paisProcedenciaId.errors?.required" class="caption ng-invalid">
              Campo obligatorio
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-6">
        <div class="form-group">
          <label>4.5 Unidad de Medida:</label>
          <div class="icon-group">
            <input placeholder="Unidad de Medida" type="text" formControlName="unidadId" />
            <mat-icon class="information" svgIcon="informacion-circular-negativo" matTooltip=" Se entiende como la medida en la que se 
                  comercializa el producto a registrar (Ejemplo: Kilo, unidad, Tonelada, 
                  litro, etc.), teniendo en cuenta la presentación del mismo. Se debe tener 
                  en cuenta como base de cálculo para los consumos de los materiales 
                  nacionales y/o extranjeros utilizados en la fabricación del producto a 
                  registrar. Si no selecciona una de las listadas, el sistema la registrará 
                  como una nueva unidad de medida. ">
            </mat-icon>
          </div>
          <div
            *ngIf="formGroup.controls.unidadId.invalid && (formGroup.controls.unidadId.dirty || formGroup.controls.unidadId.touched)">
            <span *ngIf="formGroup.controls.unidadId.errors?.required" class="caption ng-invalid">
              Campo obligatorio
            </span>
          </div>
        </div>
      </div>
      <div class="p-col-6">
        <div class="form-group">
          <label>4.6 Cantidad:</label>
          <div class="icon-group">
            <input placeholder="----.------" type="number" formControlName="cantidad" />
            <mat-icon class="information" svgIcon="informacion-circular-negativo" matTooltip=" Consumo de material extranjero utilizado para la 
              producción de una unidad comercial de producto diligenciado en 2.4">
            </mat-icon>
          </div>
          <div
            *ngIf="formGroup.controls.cantidad.invalid && (formGroup.controls.cantidad.dirty || formGroup.controls.cantidad.touched)">
            <span class="caption ng-invalid">
              Formato invalido
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col-6">
        <div class="form-group">
          <label>4.7 Valor CIF (Col$):</label>
          <div class="icon-group">
            <input placeholder="----.--" type="number" formControlName="valorCif" />
            <mat-icon class="information" svgIcon="informacion-circular-negativo" matTooltip=" Es el valor por una unidad de producto del 
                material importado según cantidad y se obtiene de las respectivas 
                declaraciones de importación. Escribe el valor en pesos colombianos. 
                Para los valores decimales se debe diligenciar coma(,) y para miles no 
                incluir ni puntos ni comas, el sistema lo asigna automáticamente.">
            </mat-icon>
          </div>
          <div
            *ngIf="formGroup.controls.valorCif.invalid && (formGroup.controls.valorCif.dirty || formGroup.controls.valorCif.touched)">
            <span class="caption ng-invalid">
              Formato invalido
            </span>
          </div>
        </div>
      </div>
      <div class="p-col-6">
        <div class="form-group">
          <label>4.8 Valor Planta (Col$):</label>
          <div class="icon-group">
            <input placeholder="----.--" type="number" formControlName="valorPlanta" />
            <mat-icon class="information" svgIcon="informacion-circular-negativo" matTooltip=" Es el valor de los materiales extranjeros 
              por una unidad de producto teniendo en cuenta los costos de 
              nacionalización, transporte, etc. Para que estos lleguen a la planta de 
              producción. Para los valores decimales se debe diligenciar coma(,) y para miles no incluir ni puntos ni comas, el sistema lo asigna 
              automáticamente. ">
            </mat-icon>
          </div>
          <div
            *ngIf="formGroup.controls.valorPlanta.invalid && (formGroup.controls.valorPlanta.dirty || formGroup.controls.valorPlanta.touched)">
            <span class="caption ng-invalid">
              Formato invalido
            </span>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="outlined" style="margin-right: 20px;" mat-dialog-close>CANCELAR</button>
  <button [mat-dialog-close]="formGroup.value" [disabled]="!formGroup.valid" cdkFocusInitial>GUARDAR</button>
</mat-dialog-actions>