@import "../../../../../../variables.scss";

[app-disabled] {
  pointer-events: none;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.titulo {
  display: flex;
  flex-direction: column;

  border-width: 2px;
  border-style: solid;
  border-color: $light-primary-color;
  border-radius: 20px;

  padding: 16px;

  .contenido {
    display: flex;
    justify-content: space-between;
    label {
      display: flex;
      input {
        margin-right: 10px;
      }
    }
  }

  .estado-registro-actual .contenedor-input {
    display: flex;
    justify-content: space-between;
  }
}

mat-expansion-panel-header {
  background: $primary-color;
  border-bottom: 2px solid;
  border-bottom-color: $tertiary-color-text;
  .mat-expansion-panel-header-title {
    color: $tertiary-color-text;
  }
  :active,
  &:hover {
    color: $tertiary-color-text;
  }
}

.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background: $dark-primary-color !important;
}
.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled="true"]),
.mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled="true"]),
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
  background: $dark-primary-color !important;
}

mat-expansion-panel[disabled="true"] {
  mat-expansion-panel-header {
    background: $secondary-color-text;
    cursor: default;
  }
}

.texto-error {
  color: #a80521;
  font-weight: bold;
}

.requerimiento {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
    mat-icon {
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }
    div {
      display: flex;
      flex-direction: column;
    }
  }
}

@mixin casilla-tabla {
  flex: 1 1 0;
  width: 0;
}

.pdf-container {
  display: none;
  position: relative;
  .header {
    display: flex;
    img {
      width: 55%;
    }
    div {
      width: 30%;
      margin: auto;
      font-size: 18px;
    }
  }

  .content {
    .seccion {
      background: #afafaf;
      .item-valor {
        div {
          display: inline-block;
          padding: 0px 10px;
          width: 50%;
          span {
            float: right;
          }
        }
      }

      .tabla {
        .header-pdf {
          display: flex;
          div {
            text-align: center;
            @include casilla-tabla;
          }
        }
        .rows-pdf {
          div {
            display: flex;
            span {
              text-align: left;
              @include casilla-tabla;
            }
          }
        }
      }
    }
  }

  .marca-agua {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 95px;
    top: 50%;
    left: -5%;
    transform: rotate(-38deg);
    font-weight: bold;
    opacity: 0.2;
    font-family: "Roboto";
    max-height: 180px;
    width: 110%;
    span {
      font-size:0.8em;
      margin: auto;
    }
  }
}
.contenido-firma-desatendida {
  .header {
      display: flex;
      flex-direction: column;

      mat-icon {
          width: 40px;
          height: 40px;
          margin: 10px auto;
      }
      span {
          margin: auto;
      }
  }

  .contenido {
      display: flex;
      flex-direction: column;

      button {
          margin: 30px auto;
      }

      span {
          margin: 10px auto 20px;
      }

      div.componente {
          margin: auto;
          padding: 0 10px;
          width: 90%;
      }
  }

  .botones {
      display: flex;
      justify-content: space-evenly;
      button {
          width: 40%;
      }
  }
}
