@import "../../../../../../variables.scss";

[app-disabled] {
  pointer-events: none;
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.titulo {
  display: flex;
  flex-direction: column;

  border-width: 2px;
  border-style: solid;
  border-color: $light-primary-color;
  border-radius: 20px;

  padding: 16px;

  .contenido {
    display: flex;
    justify-content: space-between;
  }
}

mat-expansion-panel-header {
  background: $dark-primary-color;
  border-bottom: 2px solid;
  border-bottom-color: $tertiary-color-text;
  .mat-expansion-panel-header-title {
    color: $tertiary-color-text;
  }
  :active,
  &:hover {
    color: $tertiary-color-text;
  }
}

.mat-expansion-panel-header.mat-expanded:focus,
.mat-expansion-panel-header.mat-expanded:hover {
  background: $primary-color !important;
}
.mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled="true"]),
.mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled="true"]),
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled="true"]) {
  background: $primary-color !important;
}

mat-expansion-panel[disabled="true"] {
  mat-expansion-panel-header {
    background: $secondary-color-text;
    cursor: default;
  }
}

.texto-error {
  color: #a80521;
  font-weight: bold;
}

.requerimiento {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
    mat-icon {
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }
    div {
      display: flex;
      flex-direction: column;
    }
  }
}
