@import "../../../../../../variables.scss";

.titulo {
    display: flex;
    flex-direction: column;

    border-width: 2px;
    border-style: solid;
    border-color: $light-primary-color;
    border-radius: 20px;

    
    padding: 16px;

    .contenido {
        display: flex;
        justify-content: space-between;
    }
}
