<ng-container *ngIf="!loading">
    <div class="header">
        <button routerLink="/">SALIDA SEGURA</button>
        <button routerLink="/solicitud/listar">VER SOLICITUDES</button>
    </div>
    <div [appDisable]="getFatherFormGroupValue('estado') != estado['Borrador']">
        <div class="titulo">
            <label class="headline-l">Tipo de Formulario</label>
            <br />
            <div class="contenido">
                <label>
                    <input type="checkbox" [(ngModel)]="produccionNacional"
                        (ngModelChange)="onSelectedCheckBox('produccionNacional')" />
                    Registro de Produccion Nacional
                </label>
                <label>
                    <input type="checkbox" [(ngModel)]="fomentoIndustriaAutomotriz"
                        (ngModelChange)="onSelectedCheckBox('fomentoIndustriaAutomotriz')" />
                    Programa de Fomento a la Industria Automotriz
                </label>
                <label>
                    <input type="checkbox" [(ngModel)]="regimenTransformacionEnsamblePlanillas"
                        (ngModelChange)="onSelectedCheckBox('regimenTransformacionEnsamblePlanillas')" />
                    Programa de Regimen de Transformacion o<br />Ensamble planillas A y B
                </label>
                <label>
                    <input type="checkbox" [(ngModel)]="fomentoIndustriaAstilleros"
                        (ngModelChange)="onSelectedCheckBox('fomentoIndustriaAstilleros')" />
                    Programa de Fomento a la<br />Industria Astilleros
                </label>
            </div>
            <div class="estado-registro-actual" [formGroup]="formGroup">
                <span class="headline-s">Estado del registro actual para el nuevo producto</span>
                <div class="contenedor-input">
                    <div class="form-group">
                        <label>Número de Radicado:</label>
                        <div class="icon-group">
                            <input placeholder="Número de Radicado" type="text" formControlName="firmaRadicado"
                                disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Última actualización:</label>
                        <div class="icon-group">
                            <input placeholder="Última actualización" type="text" formControlName="fechaModificacion"
                                disabled />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Estado:</label>
                        <div class="icon-group">
                            <input placeholder="Borrador" type="text"
                                [value]="estado[getFatherFormGroupValue('estado')]" disabled />
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <mat-accordion class="example-headers-align" multi>
                <mat-expansion-panel (closed)="guardarSolicitud()" (opened)="guardarSolicitud()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            1. IDENTIFICACION DE LA EMPRESA
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-identificacion-empresa [formGroup]="formGroup"></app-identificacion-empresa>
                </mat-expansion-panel>
                <mat-expansion-panel (closed)="guardarSolicitud()" (opened)="guardarSolicitud()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            2. PRODUCTO REGISTRADO (Diligenciar un Formulario por Cada Producto)
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-datos-producto [formGroup]="formGroup"></app-datos-producto>
                </mat-expansion-panel>
                <mat-expansion-panel (closed)="guardarSolicitud()" (opened)="guardarSolicitud()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            3. CRITERIOS PARA EL REGISTRO
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-criterios-registro [formGroup]="formGroup"></app-criterios-registro>
                </mat-expansion-panel>
                <mat-expansion-panel (closed)="guardarSolicitud()" (opened)="guardarSolicitud()"
                    [disabled]="!isActive(4)" [attr.disabled]="!isActive(4)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            4. MATERIALES EXTRANJEROS IMPORTADOS DIRECTAMENTE O ADQUIRIDOS EN EL MERCADO NACIONAL
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-materiales-extranjeros-nacionales [formGroup]="formGroup">
                    </app-materiales-extranjeros-nacionales>
                </mat-expansion-panel>
                <mat-expansion-panel (closed)="guardarSolicitud()" (opened)="guardarSolicitud()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            5. MATERIALES NACIONALES
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-materiales-nacionales [formGroup]="formGroup"></app-materiales-nacionales>
                </mat-expansion-panel>
                <mat-expansion-panel (closed)="guardarSolicitud()" (opened)="guardarSolicitud()"
                    [disabled]="!isActive(6)" [attr.disabled]="!isActive(6)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            6. COSTOS Y VALOR EN FABRICA PRODUCTO TERMINADO
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-costos-valor-fabrica [formGroup]="formGroup"></app-costos-valor-fabrica>
                </mat-expansion-panel>
                <mat-expansion-panel (closed)="guardarSolicitud()" (opened)="guardarSolicitud()"
                    [disabled]="!isActive(7)" [attr.disabled]="!isActive(7)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            7. PROCESO DE PRODUCCIÓN (Completa Descripción por Etapas)
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-proceso-produccion [formGroup]="formGroup"></app-proceso-produccion>
                </mat-expansion-panel>
                <mat-expansion-panel (closed)="guardarSolicitud()" (opened)="guardarSolicitud()"
                    [disabled]="!isActive(8)" [attr.disabled]="!isActive(8)">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            8. CARACTERÍSTICAS DE LA TRANSFORMACIÓN SUSTANCIAL
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-caracteristicas-transformacion [formGroup]="formGroup"></app-caracteristicas-transformacion>
                </mat-expansion-panel>
                <mat-expansion-panel (closed)="guardarSolicitud()" (opened)="guardarSolicitud()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            9. CARACTERÍSTICAS TÉCNICAS DEL PRODUCTO
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-caracteristicas-tecnicas [formGroup]="formGroup"></app-caracteristicas-tecnicas>
                </mat-expansion-panel>
                <mat-expansion-panel (closed)="guardarSolicitud()" (opened)="guardarSolicitud()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            10. APLICACIONES DEL PRODUCTO
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-aplicaciones-producto [formGroup]="formGroup"></app-aplicaciones-producto>
                </mat-expansion-panel>
                <mat-expansion-panel (closed)="guardarSolicitud()" (opened)="guardarSolicitud()">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            11. VALOR AGREGADO NACIONAL
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-valor-agregado [formGroup]="formGroup"></app-valor-agregado>
                </mat-expansion-panel>
            </mat-accordion>
            <br>
            <div class="contenedor-datos-reprensentante-legal">
                <span class="headline-m"> 12. DATOS DEL REPRESENTANTE LEGAL</span>
                <app-datos-representante-legal [formGroup]="formGroup"></app-datos-representante-legal>
            </div>
            <br>
            <div class="contenedor-anexos"
                [ngClass]="{'excluido': getFatherFormGroupValue('estado') == estado['En requerimiento']}">
                <span class="headline-m"> 13. ANEXOS</span>
                <div class="p-grid" style="padding-top:20px;" *ngIf="!anexoEmbebido">
                    <div class="p-col-12">
                        <p-message severity="info"
                            text="En esta sección se adjuntan los documentos soporte del REGISTRO DE PRODUCTOR DE BIENES NACIONALES.">
                        </p-message>
                    </div>
                </div>
                <app-anexar-archivo [anidado]="false" [mostrarDescripcion]="true"
                    [solicitudId]="getFatherFormGroupValue('id')" (adjunto)="onNewAdjunto()"></app-anexar-archivo>
                <br />
                <span class="headline-xs">
                    Antes de anexar algún archivo, por favor guarde sus cambios para no perderlos
                </span>
                <br>
                <app-tabla-anexos #tablaAnexos [anexoEmbebido]="false"></app-tabla-anexos>
                <div *ngIf="getFatherFormGroupValue('estado') == estado['En requerimiento']">
                    <div class="requerimiento">
                        <div>
                            <mat-icon svgIcon="informacion-circular-negativo"> </mat-icon>
                            <div>
                                <label class="headline-xs">Requerimientos</label>
                                <label class="body-uno">Tiene un requerimiento pendiente, por favor tenga en cuenta la
                                    siguiente observación:</label>
                                <label class="body-uno">{{getFatherFormGroupValue('requerimiento')}}</label>
                            </div>
                        </div>
                        <button (click)="onCerrarRequerimiento()">CERRAR REQUERIMIENTO</button>
                    </div>
                    <br />
                    <br />
                    <div class="texto-error body-uno" style="text-align: center">
                        Antes de dar click en el boton CERRAR REQUERIMIENTO asegurese de haber anexado todos los
                        documentos solicitados.
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="header">
                <button (click)="onGuardar()">GUARDAR BORRADOR</button>
                <button (click)="generarPdf()">FIRMAR Y RADICAR SOLICITUD</button>
            </div>
            <br />
            <br />
        </div>
    </div>
</ng-container>


<ng-template #sinUsuario>
    <div class="contenido-mensaje-usuario">
        <div class="header">
            <mat-icon svgIcon="informacion-circular-negativo"></mat-icon>
            <span class="headline-s"> ACTUALMENTE USTED NO POSEE UN USUARIO, INTENTE NUEVAMENTE</span>
        </div>
        <div class="contenido">
            <span class="body-uno">
                Usted sera redireccionado para realizar la creacion de su usuario, si no se redirecciona por favor
                intente nuevamente.
            </span>
            <button (click)="dialogRef.close()">CONTINUAR</button>
        </div>
    </div>
</ng-template>


<ng-template #firmaDesatendida>
    <div class="contenido-firma-desatendida">
        <div class="header">
            <mat-icon svgIcon="informacion-circular-negativo"></mat-icon>
            <span class="headline-l"> FIRMAR Y RADICAR SOLICITUD</span>
        </div>
        <div class="contenido">
            <button (click)="descargarFormulario()">Descargar Formulario</button>
            <span class="headline-xs">Cargue aqui su documento firmado</span>
            <div class="componente">
                <app-anexar-archivo [labelConfirmar]="'Confirmar'" [mostrarBotones]="false"
                    (adjunto)="recibirAdjuntoFirmado($event)">
                </app-anexar-archivo>
            </div>
        </div>
        <div class="botones">
            <button class="cancelar" (click)="dialogRef.close(); documentoFinal = null;">CANCELAR</button>
            <button [disabled]="!documentoFinal" (click)="dialogRef.close();finalizarSolicitud();">Confirmar</button>
        </div>
    </div>
</ng-template>

<div id="pdf" class="pdf-container" *ngIf="!formGroup.valid">
    <div class="header">
        <img src="./../../../../../../assets/images/mincit.png">
        <div>
            <strong>Formulario 202009020070774</strong><br>
            REGISTRO DE PRODUCTOR DE BIENES <br> NACIONALES
        </div>
    </div>
    <div class="content">
        <div>
            <h2>1. Identificación de la empresa</h2>
            <div class="seccion">
                <div class="item-valor">
                    <div> 1.1 Número de Identificación Tributaria N.I.T:
                        <span>{{getFatherFormGroupControl('identificacionEmpresa').controls['nit'].value}}</span>
                    </div>
                    <div> 1.2 Razón Social:
                        <span>{{getFatherFormGroupControl('identificacionEmpresa').controls['razonSocial'].value}}</span>
                    </div>
                    <div> 1.3 Nombre Contacto de la Empresa:
                        <span>{{getFatherFormGroupControl('identificacionEmpresa').controls['nombreContacto'].value}}</span>
                    </div>
                    <div> 1.4 Correo Electronico:
                        <span>{{getFatherFormGroupControl('identificacionEmpresa').controls['correo'].value}}</span>
                    </div>
                    <div> 1.5 Teléfono de Contacto
                        <span>{{getFatherFormGroupControl('identificacionEmpresa').controls['telefono'].value}}</span>
                    </div>
                </div>
                <div style="width: 100%; text-align: center;">
                    Plantas de produccion
                </div>
                <div class="tabla">
                    <div class="header-pdf">
                        <div>
                            Departamento
                        </div>
                        <div>
                            Ciudad
                        </div>
                        <div>
                            Dirección
                        </div>
                    </div>
                    <div class="rows-pdf">
                        <ng-container
                            *ngFor="let item of formGroup.get('identificacionEmpresa').get('plantasProduccion').value">
                            <div>
                                <span>
                                    {{divipolaService.consultarDepartamentos(item.planDepartamentoId).nombre}}
                                </span>
                                <span>
                                    {{divipolaService.consultarCiudades(item.planMunicipioId).nombre}}
                                </span>
                                <span>
                                    {{item.planDireccion}}
                                </span>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>2. Producto Registrado</h2>
            <div class="seccion">
                <div class="item-valor">
                    <div> 2.1 Subpartida Arancelaria:
                        <span>{{getFatherFormGroupControl('datosProducto').controls['subpartida'].value}}</span>
                    </div>
                    <div> 2.2 Nombre Comercial:
                        <span>{{getFatherFormGroupControl('datosProducto').controls['nombreComercial'].value}}</span>
                    </div>
                    <div> 2.3 Nombre Contacto de la Empresa:
                        <span>{{getFatherFormGroupControl('datosProducto').controls['nombreTecnico'].value}}</span>
                    </div>
                    <div> 2.4 Unidad de Medida:
                        <span>{{dianService.obtenerUnidadDeMedida(getFatherFormGroupControl('datosProducto').controls['unidadComercial'].value)?.valor}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>3. Criterios para el Registro</h2>
            <div class="seccion">
                <div class="item-valor">
                    <div>
                        <ng-container
                            [ngSwitch]="getFatherFormGroupControl('criteriosRegistro').controls['criterio'].value">
                            <div *ngSwitchCase="'bienesTotalmenteObtenidos'">3.1. Bienes Totalmente Obtenidos</div>
                            <div *ngSwitchCase="'bienesElaboradosNacionales'">3.2. Bienes Elaborados Exclusivamente Con
                                Materias Nacionales</div>
                            <div *ngSwitchCase="'bienesPorcentajeMinimoValor'">3.3. Porcentaje Mínimo Valor Agregado
                                Nacional</div>
                            <div *ngSwitchCase="'bienesProcesoProductivo'">3.4. Proceso Productivo Sustancial</div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>6. Costo valor fábrica producto terminado</h2>
            <div class="seccion">
                <div class="item-valor">
                    <div> 6.1 Total Costos Materiales Nacionales u/comercial:
                        <span>{{getFatherFormGroupControl('costosValorFabrica').controls['valorTotalUnidadProducto'].value}}</span>
                    </div>
                    <div> 6.2 Otros Costos Directos de Fabrica u/comercial (No incluye Materias Primas):
                        <span>{{getFatherFormGroupControl('costosValorFabrica').controls['costosDirectosFabrica'].value}}</span>
                    </div>
                    <div> 6.3 VT Valor Transaccion (Precios ex Fabrica o Ex Planta):
                        <span>{{getFatherFormGroupControl('costosValorFabrica').controls['valorTransaccion'].value}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>7. Proceso de producción</h2>
            <div class="seccion">
                {{getFatherFormGroupControl('procesoProduccion').controls['procesoProduccion'].value}}
            </div>
        </div>
        <div>
            <h2>9. Características Técnicas del producto</h2>
            <div class="seccion">
                {{getFatherFormGroupControl('caracteristicasTecnicas').controls['descripcion'].value}}
            </div>
        </div>
        <div>
            <h2>10. Aplicaciones del Producto</h2>
            <div class="seccion">
                {{getFatherFormGroupControl('aplicacionesProducto').controls['descripcion'].value}}
            </div>
        </div>
        <div>
            <h2>11. VALOR AGREGADO NACIONAL (VAN)</h2>
            <div class="seccion">
                <div class="item-valor">
                    <div>Agregado Nacional:
                        <span>{{getFatherFormGroupControl('valorAgregado').controls['valor'].value}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>Información del Representante Legal</h2>
            <div class="seccion">
                <div class="item-valor">
                    <div>Agregado Nacional:
                        <span>{{getFatherFormGroupControl('datosRepresentante').controls['nombreRepresentante'].value}}</span>
                    </div>
                    <div>Identificación:
                        <span>{{getFatherFormGroupControl('datosRepresentante').controls['identificacion'].value}}</span>
                    </div>
                    <div>Cargo:
                        <span>{{getFatherFormGroupControl('datosRepresentante').controls['cargo'].value}}</span>
                    </div>
                    <div>Fecha:
                        <span>{{getFatherFormGroupControl('datosRepresentante').controls['fecha'].value}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
    </div>
    <div class="marca-agua">
        NO VALIDO PARA TRÁMITES <br>
        <span>DOCUMENTO EN EVALUACION</span>
    </div>
</div>


<p-blockUI [blocked]="cargando"></p-blockUI>