<ng-container *ngIf="!loading">
    <div class="header">
        <button routerLink="/">SALIDA SEGURA</button>
        <button routerLink="/solicitud/listar">VER SOLICITUDES</button>
    </div>
    <div [appDisable]="getFatherFormGroupValue('estado') != estado['Borrador']">
        <div class="titulo">
            <label class="headline-l">Tipo de Formulario</label>
            <br />
            <div class="contenido">
                <label>
                    <input type="checkbox" [(ngModel)]="produccionNacional"
                        (ngModelChange)="onSelectedCheckBox('produccionNacional')" />
                    Registro de Produccion Nacional
                </label>
                <label>
                    <input type="checkbox" [(ngModel)]="fomentoIndustriaAutomotriz"
                        (ngModelChange)="onSelectedCheckBox('fomentoIndustriaAutomotriz')" />
                    Programa de Fomento a la Industria Automotriz
                </label>
                <label>
                    <input type="checkbox" [(ngModel)]="regimenTransformacionEnsamblePlanillas"
                        (ngModelChange)="onSelectedCheckBox('regimenTransformacionEnsamblePlanillas')" />
                    Programa de Regimen de Transformacion o<br />Ensamble planillas A y B
                </label>
                <label>
                    <input type="checkbox" [(ngModel)]="fomentoIndustriaAstilleros"
                        (ngModelChange)="onSelectedCheckBox('fomentoIndustriaAstilleros')" />
                    Programa de Fomento a la<br />Industria Astilleros
                </label>
            </div>
        </div>
        <br />
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        1. IDENTIFICACION DE LA EMPRESA
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-identificacion-empresa [formGroup]="formGroup"></app-identificacion-empresa>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        2. PRODUCTO REGISTRADO (Diligenciar un Formulario por Cada Producto)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-datos-producto [formGroup]="formGroup"></app-datos-producto>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        3. CRITERIOS PARA EL REGISTRO
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-criterios-registro [formGroup]="formGroup"></app-criterios-registro>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header [disabled]="!isActive(4)" [attr.disabled]="!isActive(4)">
                    <mat-panel-title>
                        4. MATERIALES EXTRANJEROS IMPORTADOS DIRECTAMENTE O ADQUIRIDOS EN EL MERCADO NACIONAL
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-materiales-extranjeros-nacionales [formGroup]="formGroup"></app-materiales-extranjeros-nacionales>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        5. MATERIALES NACIONALES
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-materiales-nacionales [formGroup]="formGroup"></app-materiales-nacionales>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        6. COSTOS Y VALOR EN FABRICA PRODUCTO TERMINADO
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-costos-valor-fabrica [formGroup]="formGroup"></app-costos-valor-fabrica>
            </mat-expansion-panel>
            <mat-expansion-panel [disabled]="!isActive(7)" [attr.disabled]="!isActive(7)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        7. PROCESO DE PRODUCCIÓN (Completa Descripción por Etapas)
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-proceso-produccion></app-proceso-produccion>
            </mat-expansion-panel>
            <mat-expansion-panel [disabled]="!isActive(8)" [attr.disabled]="!isActive(8)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        8. CARACTERÍSTICAS DE LA TRANSFORMACIÓN SUSTANCIAL
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-caracteristicas-transformacion [formGroup]="formGroup"></app-caracteristicas-transformacion>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        9. CARACTERÍSTICAS TÉCNICAS DEL PRODUCTO
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-caracteristicas-tecnicas [formGroup]="formGroup"></app-caracteristicas-tecnicas>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        10. APLICACIONES DEL PRODUCTO
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-aplicaciones-producto [formGroup]="formGroup"></app-aplicaciones-producto>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        11. VALOR AGREGADO NACIONAL
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-valor-agregado [formGroup]="formGroup"></app-valor-agregado>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        12. DATOS DEL REPRESENTANTE LEGAL
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-datos-representante-legal [formGroup]="formGroup"></app-datos-representante-legal>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        13. ANEXOS
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="p-grid" style="padding-top:20px;" *ngIf="!anexoEmbebido">
                    <div class="p-col-12">
                        <p-message severity="info"
                            text="En esta sección se adjuntan los documentos soporte del REGISTRO DE PRODUCTOR DE BIENES NACIONALES.">
                        </p-message>
                    </div>
                </div>
                <app-anexar-archivo [anidado]="false" [mostrarDescripcion]="true"
                    [solicitudId]="getFatherFormGroupValue('id')" (adjunto)="onNewAdjunto()"></app-anexar-archivo>
                <br>
                <span class="headline-xs">
                    Antes de anexar algún archivo, por favor guarde sus cambios para no perderlos
                </span>
                <br>
                <app-tabla-anexos #tablaAnexos [anexoEmbebido]="false"></app-tabla-anexos>
            </mat-expansion-panel>
        </mat-accordion>
        <br />
        <br />
        <div class="header">
            <button (click)="onGuardar()">GUARDAR BORRADOR</button>
            <button>FIRMAR Y RADICAR SOLICITUD</button>
        </div>
        <br />
        <br />
    </div>
</ng-container>
