@import "../../../../../../mixins.scss";
@import "../../../../../../variables.scss";

:host {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

@include message;
::ng-deep {
    .p-message {
        .p-message-summary {
            font-size: 16px !important;
        }
    }
}
