<ng-template #produccionNacional [ngIf]="tipoFormulario === 'produccionNacional'">
    <div class="p-grid">
        <div class="p-col">
            <div class="form-group">
                <label>2.1 Subpartida Arancelaria:</label>
                <div class="icon-group">
                    <select>
                        <option value="" selected>Subpartida</option>
                        <option value="value2">Value 2</option>
                        <option value="value3">Value 3</option>
                    </select>
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Diligenciar la subpartida arancelaria por la cual desea registrar su producto. (DECRETO 2153 de 2016 Arancel de Aduanas).">
                    </mat-icon>
                </div>
            </div>
        </div>
        <div class="p-col">
            <p-messages [(value)]="messagesSubpartidaArancelaria" [enableService]="false"></p-messages>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            <div class="form-group">
                <label>2.2 Nombre Comercial:</label>
                <div class="icon-group">
                    <input placeholder="Nombre Comercial" type="text" />
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Diligenciar el nombre comercial asignado por la empresa con el cual comercializa el producto a registrar.">
                    </mat-icon>
                </div>
            </div>
        </div>
        <div class="p-col">
            <div class="form-group">
                <label>2.3 Nombre Técnico:</label>
                <div class="icon-group">
                    <input placeholder="Nombre Técnico" type="text" />
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Es el nombre con el que se conoce el producto y es único por ser utilizado universalmente, el cual debe ser especí­fico con caracterí­sticas esenciales que lo identifiquen y permitan verificar la subpartida arancelaria. No incluye marcas, referencias, logos etc. Debe ir en idioma español.">
                    </mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-6">
            <div class="form-group">
                <label>2.4 Unidad Comercial:</label>
                <div class="icon-group">
                    <select>
                        <option value="" selected>Unidad</option>
                        <option value="value2">Value 2</option>
                        <option value="value3">Value 3</option>
                    </select>
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Se entiende como la medida en la que se comercializa el producto a registrar (unidad, kilo, tonelada, litro, etc.), teniendo en cuenta la presentación del mismo.">
                    </mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col">
            <div class="form-group">
                <label>2.7 Sector Económico:</label>
                <select disabled>
                    <option value="" selected>Sector Económico</option>
                    <option value="value2">Value 2</option>
                    <option value="value3">Value 3</option>
                </select>
            </div>
        </div>
        <div class="p-col">
            <div class="form-group">
                <label>2.8 Tamaño de la Empresa:</label>
                <div class="icon-group">
                    <select>
                        <option value="" selected>Seleccione</option>
                        <option value="value2">Micro empresa</option>
                        <option value="value3">Pequeña empresa</option>
                        <option value="value3">Mediana empresa</option>
                        <option value="value3">Grande empresa</option>
                    </select>
                    <mat-icon svgIcon="informacion-circular-negativo" matTooltip="
                    - Micro empresa: si posee menos de 10 empleados
                    - Pequeña empresa: si tiene un número entre 10 y 49 empleados.
                    - Mediana empresa: si tiene un número entre 50 y 249 empleados.
                    - Grande empresa : si posee 250 o más empleado
                    "></mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-6">
            <div class="form-group">
                <label>2.9 Unidades Producidas por Año:</label>
                <input placeholder="Unidades Producidas por Año" min=0 type="number" />
            </div>
        </div>
    </div>
</ng-template>

<ng-template #fomentoIndustriaAutomotriz [ngIf]="tipoFormulario === 'fomentoIndustriaAutomotriz'">
    <div class="p-grid">
        <div class="p-col">
            <div class="form-group">
                <label>2.1 Subpartida Arancelaria:</label>
                <div class="icon-group">
                    <select>
                        <option value="" selected>Subpartida</option>
                        <option value="value2">Value 2</option>
                        <option value="value3">Value 3</option>
                    </select>
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Diligenciar la subpartida arancelaria correspondiente al programa PROFIA Contempladas en el artí­culo 3 del decreto 1567 del 2015.">
                    </mat-icon>
                </div>
            </div>
        </div>
        <div class="p-col">
            <p-messages [(value)]="messagesSubpartidaArancelaria" [enableService]="false"></p-messages>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col">
            <div class="form-group">
                <label>2.1.1 Código Numérico Único (CNU):</label>
                <div class="icon-group">
                    <select>
                        <option value="" selected></option>
                        <option value="value2">Value 2</option>
                        <option value="value3">Value 3</option>
                    </select>
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Es el que asigna el Ministerio De Comercio Industria Y Turismo a cada uno de los bienes comprendidos en las subpartidas arancelarias establecidas en el artí­culo 3 del decreto 1567.">
                    </mat-icon>
                </div>
            </div>
        </div>
        <div class="p-col">
            <p-messages [(value)]="messagesCodigoNumericoUnico" [enableService]="false"></p-messages>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col">
            <div class="form-group">
                <label>2.2 Nombre Comercial:</label>
                <div class="icon-group">
                    <input placeholder="Nombre Comercial" type="text" />
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Diligenciar el nombre comercial asignado por la empresa con el cual comercializa el producto a registrar.">
                    </mat-icon>
                </div>
            </div>
        </div>
        <div class="p-col">
            <div class="form-group">
                <label>2.3 Nombre Técnico:</label>
                <div class="icon-group">
                    <input placeholder="Nombre Técnico" type="text" />
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Es el nombre con el que se conoce el producto y es único por ser utilizado universalmente, el cual debe ser especí­fico con caracterí­sticas esenciales que lo identifiquen y permitan verificar la subpartida arancelaria. No incluye marcas, referencias, logos etc. Debe ir en idioma español.">
                    </mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col">
            <div class="form-group">
                <label>2.4 Unidad Comercial:</label>
                <div class="icon-group">
                    <select>
                        <option value="" selected>Unidad</option>
                        <option value="value2">Value 2</option>
                        <option value="value3">Value 3</option>
                    </select>
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Se entiende como la medida en la que se comercializa el producto a registrar (unidad, kilo, tonelada, litro, etc.), teniendo en cuenta la presentación del mismo.">
                    </mat-icon>
                </div>
            </div>
        </div>
        <div class="p-col">
            <div class="form-group">
                <label>2.5 Tecnología:</label>
                <div class="icon-group">
                    <textarea placeholder="Nombre Técnico"></textarea>
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Indique las características tecnológicas.">
                    </mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col">
            <div class="form-group">
                <label>2.7 Sector Económico:</label>
                <select disabled>
                    <option value="" selected>Sector Económico</option>
                    <option value="value2">Value 2</option>
                    <option value="value3">Value 3</option>
                </select>
            </div>
        </div>
        <div class="p-col">
            <div class="form-group">
                <label>2.8 Tamaño de la Empresa:</label>
                <div class="icon-group">
                    <select>
                        <option value="" selected>Seleccione</option>
                        <option value="value2">Micro empresa</option>
                        <option value="value3">Pequeña empresa</option>
                        <option value="value3">Mediana empresa</option>
                        <option value="value3">Grande empresa</option>
                    </select>
                    <mat-icon svgIcon="informacion-circular-negativo" matTooltip="
                    - Micro empresa: si posee menos de 10 empleados
                    - Pequeña empresa: si tiene un número entre 10 y 49 empleados.
                    - Mediana empresa: si tiene un número entre 50 y 249 empleados.
                    - Grande empresa : si posee 250 o más empleado
                    "></mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-6">
            <div class="form-group">
                <label>2.9 Unidades Producidas por Año:</label>
                <input placeholder="Unidades Producidas por Año" min=0 type="number" />
            </div>
        </div>
    </div>
</ng-template>

<ng-template #regimenTransformacionEnsamblePlanillas
    [ngIf]="tipoFormulario === 'regimenTransformacionEnsamblePlanillas'">
    <div class="p-grid">
        <div class="p-col">
            <div class="form-group">
                <label>2.1 Subpartida Arancelaria:</label>
                <div class="icon-group">
                    <select>
                        <option value="" selected>Subpartida</option>
                        <option value="value2">Value 2</option>
                        <option value="value3">Value 3</option>
                    </select>
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Diligenciar la subpartida arancelaria por la cual desea registrar su producto. (DECRETO 2153 de 2016 Arancel de Aduanas).">
                    </mat-icon>
                </div>
            </div>
        </div>
        <div class="p-col">
            <p-messages [(value)]="messagesSubpartidaArancelaria" [enableService]="false"></p-messages>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col">
            <div class="form-group">
                <label>2.2 Nombre Comercial:</label>
                <div class="icon-group">
                    <input placeholder="Nombre Comercial" type="text" />
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Diligenciar el nombre comercial asignado por la empresa con el cual comercializa el producto a registrar.">
                    </mat-icon>
                </div>
            </div>
        </div>
        <div class="p-col">
            <div class="form-group">
                <label>2.3 Nombre Técnico:</label>
                <div class="icon-group">
                    <input placeholder="Nombre Técnico" type="text" />
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Es el nombre con el que se conoce el producto y es único por ser utilizado universalmente, el cual debe ser especí­fico con caracterí­sticas esenciales que lo identifiquen y permitan verificar la subpartida arancelaria. No incluye marcas, referencias, logos etc. Debe ir en idioma español.">
                    </mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col">
            <div class="form-group">
                <label>2.4 Unidad Comercial:</label>
                <div class="icon-group">
                    <select>
                        <option value="" selected>Unidad</option>
                        <option value="value2">Value 2</option>
                        <option value="value3">Value 3</option>
                    </select>
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Se entiende como la medida en la que se comercializa el producto a registrar (unidad, kilo, tonelada, litro, etc.), teniendo en cuenta la presentación del mismo.">
                    </mat-icon>
                </div>
            </div>
        </div>
        <div class="p-col">
            <div class="form-group">
                <label>2.5 Descripción de la(s) motoparte(s):</label>
                <div class="icon-group">
                    <textarea></textarea>
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Diligenciar la descripción o descripciones de las motopartes tal cual como serán diligenciadas en el Aplicativo RTE, Módulo planillas A - B.">
                    </mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col">
            <div class="form-group">
                <label>2.6 Número de motoparte:</label>
                <div class="icon-group">
                    <textarea class="doble"
                        placeholder="Ingrese las referencias separadas por coma y solo use caracteres alfanuméricos."></textarea>
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Indique el/los número(s) de la(s) motoparte(s) separada(s) por coma.">
                    </mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col">
            <div class="form-group">
                <label>2.7 Sector Económico:</label>
                <select disabled>
                    <option value="" selected>Sector Económico</option>
                    <option value="value2">Value 2</option>
                    <option value="value3">Value 3</option>
                </select>
            </div>
        </div>
        <div class="p-col">
            <div class="form-group">
                <label>2.8 Tamaño de la Empresa:</label>
                <div class="icon-group">
                    <select>
                        <option value="" selected>Seleccione</option>
                        <option value="value2">Micro empresa</option>
                        <option value="value3">Pequeña empresa</option>
                        <option value="value3">Mediana empresa</option>
                        <option value="value3">Grande empresa</option>
                    </select>
                    <mat-icon svgIcon="informacion-circular-negativo" matTooltip="
                    - Micro empresa: si posee menos de 10 empleados
                    - Pequeña empresa: si tiene un número entre 10 y 49 empleados.
                    - Mediana empresa: si tiene un número entre 50 y 249 empleados.
                    - Grande empresa : si posee 250 o más empleado
                    "></mat-icon>
                </div>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col-6">
            <div class="form-group">
                <label>2.9 Unidades Producidas por Año:</label>
                <input placeholder="Unidades Producidas por Año" min=0 type="number" />
            </div>
        </div>
    </div>
</ng-template>