<form [formGroup]="getChildFormGroup()">
    <div class="p-grid">
        <div class="p-col">
            <div class="form-group">
                <label>Representante Legal:</label>
                <div class="icon-group">
                    <input placeholder="Nombre Representante" type="text" formControlName="nombreRepresentante" />
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Representante legal Es quien se encuentra registrado en el Certificado de Existencia y Representación Legal para persona Jurídica o Registro Mercantil para persona Natural.">
                    </mat-icon>
                </div>
                <span class="error small" *ngIf="getChildFormGroup().controls.nombreRepresentante.errors?.required">
                  Campo Obligatorio
                </span>
            </div>
        </div>
        <div class="p-col">
            <div class="form-group">
                <label>Identificación:</label>
                <div class="icon-group">
                    <input placeholder="Ingrese únicamente dígitos" type="text" type="number"
                        formControlName="identificacion" />
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Documento de identidad del representante legal.">
                    </mat-icon>
                </div>
                <span class="error small" *ngIf="getChildFormGroup().controls.identificacion.errors?.required">
                  Campo Obligatorio
                </span>
            </div>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col">
            <div class="form-group">
                <label>Cargo:</label>
                <div class="icon-group">
                    <input placeholder="Cargo Representante" type="text" maxlength="3000" formControlName="cargo" />
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Cargo que ocupa el representante legal en la empresa.">
                    </mat-icon>
                </div>
                <span class="error small" *ngIf="getChildFormGroup().controls.cargo.errors?.required">
                  Campo Obligatorio
                </span>
            </div>
        </div>
        <div class="p-col">
            <div class="form-group">
                <label>Fecha:</label>
                <div class="icon-group">
                    <input formControlName="fecha" type="text" disabled />
                    <mat-icon svgIcon="informacion-circular-negativo"
                        matTooltip="Fecha de presentación de la solicitud.">
                    </mat-icon>
                </div>
            </div>
        </div>
    </div>
</form>