.header > img {
    height: 70%;
}

a {
    text-decoration: none;
}

mat-toolbar-row.sub-header {
    background-color: white;
    height: 110px;
    padding: 20px;
}

.spacer {
    flex: 1 1 auto;
}
