<div class="alert">
    <mat-icon class="warning" svgIcon="informacion"></mat-icon>
    <p class="headline-l --warning-color"> Lea Cuidadosamente </p>
    <div class="parrafo body-uno --dark-primary-color">
        Por favor culmine el proceso en la ventana contigua: <br><br>
        Revise el contenido del documento pdf generado y proceda a firmar el documento para radicar su solicitud, o
        si encuentra errores en la información dligenciada cancele el proceso de firma (cancelar circuito) para
        poder corregir o modificar nuevamente el formulario.<br><br>
        Si no abrió la ventana para firmar el documento, por favor habilite las ventanas emergentes en el navegador
        y recargue esta página. <br><br>
        Si es la primera vz que tuilizara el servicio de firma digital portafirmas, el sistema deberá cerrar el
        respectivo usuario y tomara un tiempó mayor al usual.<br><br>
        <strong> Una vez finalizado el circuito (firmar o cancelar circuito), deberá actualizar esta página.
        </strong>
    </div>
    <br />
    <div class="button-group">
        <button (click)="onContinuar()">ACEPTAR</button>
    </div>
</div>
