@import "../../../../../mixins.scss";

.table {
    border-width: 2px;
    border-style: solid;
    border-color: $light-primary-color;
    border-radius: 20px;
    overflow: hidden;
    > .title {
        padding: 16px;
        > .sub-title {
            display: flex;
        }
    }
    @include table;
}

.content {
    padding: 16px;
}
