<div class="table">
    <div class="title">
        <h3 class="headline-m">Borradores y/o solicitudes existentes</h3>
        <div class="sub-title">
            <button [routerLink]="'/solicitud/pre-solicitud'" style="margin-right: 20px;">CREAR NUEVO REGISTRO</button>
            <button (click)="onVerRequerimientos()">VER REQUERIMIENTOS</button>
            <span class="spacer"></span>
            <div class="input-group">
                <input placeholder="Buscar" type="text" [(ngModel)]="busqueda" (ngModelChange)="onBuscar()" />
                <mat-icon svgIcon="buscar-circular-negativo"></mat-icon>
            </div>
        </div>
    </div>
    <p-table [value]="solicitudes" [customSort]="true" [lazy]="true" (onLazyLoad)="onSort($event)">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <span class="headline-s --dark-primary-color">
                        Ver Solicitud
                    </span>
                </th>
                <th pSortableColumn="fechaCreacion">
                    <span class="headline-s --dark-primary-color">
                        Fecha radicacion<p-sortIcon field="fechaCreacion"></p-sortIcon>
                    </span>
                </th>
                <th pSortableColumn="productoNombreComercial">
                    <span class="headline-s --dark-primary-color">
                        Nombre comercial<p-sortIcon field="productoNombreComercial"></p-sortIcon>
                    </span>
                </th>
                <th pSortableColumn="programaId">
                    <span class="headline-s --dark-primary-color">
                        Programa<p-sortIcon field="programaId"></p-sortIcon>
                    </span>
                </th>
                <th pSortableColumn="fechaActuacion">
                    <span class="headline-s --dark-primary-color">
                        Fecha de actuacion<p-sortIcon field="fechaActuacion"></p-sortIcon>
                    </span>
                </th>
                <th pSortableColumn="estado">
                    <span class="headline-s --dark-primary-color">
                        Estado<p-sortIcon field="estado"></p-sortIcon>
                    </span>
                </th>
                <th pSortableColumn="radicado">
                    <span class="headline-s --dark-primary-color">
                        Formulario Firmado<p-sortIcon field="radicado"></p-sortIcon>
                    </span>
                </th>
                <th>
                    <span class="headline-s --dark-primary-color">Carta de respuesta</span>
                </th>
                <th>
                    <span class="headline-s --dark-primary-color">Eliminar borrador</span>
                </th>
                <th>
                    <span class="headline-s --dark-primary-color">Generar copia de borrador</span>
                </th>
                <th>
                    <span class="headline-s --dark-primary-color">Cancelar registro</span>
                </th>
                <th>
                    <span class="headline-s --dark-primary-color">Ver<br />anexos</span>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-solicitud let-index="rowIndex">
            <tr>
                <td class="center">
                    <mat-icon class="pointer" svgIcon="ver-positivo"
                        [routerLink]="'/solicitud/registro/' + solicitud.radicado"></mat-icon>
                </td>
                <td>
                    <p class="body-uno">{{solicitud.auditoria.fechaCreacionFormateada | date: 'dd/MM/YYYY'}}</p>
                </td>
                <td>
                    <p class="body-uno">{{solicitud.productoNombreComercial}}</p>
                </td>
                <td>
                    <p class="body-uno">{{solicitud.programaId}}</p>
                </td>
                <td>
                    <p class="body-uno"></p>
                </td>
                <td>
                    <p class="body-uno">{{estado[solicitud.estado]}}</p>
                </td>
                <td class="center">
                    <p [ngClass]="{'body-uno': true, 'link': solicitud.estado != estado['Borrador']}"
                        (click)="onDescargarPDF()">
                        {{solicitud.radicado}}</p>
                </td>
                <td class="center">
                    <mat-icon
                        [ngClass]="{'pointer': solicitud.estado != estado['Borrador'] && solicitud.estado != estado['En evaluacion'] && solicitud.estado != estado['En requerimiento']}"
                        [attr.disabled]="solicitud.estado != estado['Borrador'] && solicitud.estado != estado['En evaluacion'] && solicitud.estado != estado['En requerimiento'] ? false : true"
                        svgIcon="carta-positivo"></mat-icon>
                </td>
                <td class="center">
                    <mat-icon class="pointer" [attr.disabled]="solicitud.estado == estado['Borrador'] ? false : true"
                        svgIcon="papelera-positivo" (click)="onEliminarBorrador(solicitud, index, eliminarTemplate)">
                    </mat-icon>
                </td>
                <td class="center">
                    <mat-icon class="pointer" svgIcon="copiar-positivo"
                        (click)="onCopiarBorrador(solicitud, index, copiarTemplate)"></mat-icon>
                </td>
                <td class="center">
                    <mat-icon class="pointer" [attr.disabled]="solicitud.estado == estado['Aprobado'] ? false : true"
                        svgIcon="menos-circular-positivo" (click)="onCancelarRegistro(solicitud)"></mat-icon>
                </td>
                <td class="center">
                    <mat-icon class="pointer" svgIcon="adjunto-positivo"
                        [routerLink]="'/solicitud/anexos/' + solicitud.radicado"></mat-icon>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div *ngIf="solicitudes.length==0">
        <p class="content body-uno">No se encontraron registros coincidentes</p>
    </div>
    <p-paginator [rows]="pagina.registrosPorPagina" [totalRecords]="pagina.registrosTotales"
        (onPageChange)="onPageChange($event)"></p-paginator>
</div>

<ng-template #eliminarTemplate let-solicitud>
    <div class="modal warning">
        <div>
            <mat-icon svgIcon="informacion-circular-negativo"></mat-icon>
            <p class="body-uno">¿Seguro desea borrar este registro {{solicitud.radicado}}?</p>
        </div>
        <div>
            <button class="outlined" (click)="dialogRef.close()">CANCELAR</button>
            <button (click)="onEliminar(solicitud.id, solicitud.index)">CONTINUAR</button>
        </div>
    </div>
</ng-template>

<ng-template #copiarTemplate let-solicitud>
    <div class="modal warning">
        <div>
            <mat-icon svgIcon="informacion-circular-negativo"></mat-icon>
            <p class="body-uno">¿Seguro desea genear una copia de este registro {{solicitud.radicado}}?</p>
        </div>
        <div>
            <button class="outlined" (click)="dialogRef.close()">CANCELAR</button>
            <button (click)="onCopiar(solicitud.id, solicitud.index)">CONTINUAR</button>
        </div>
    </div>
</ng-template>