@import 'variables.scss';

@mixin table {
    tr {
        >th {
            text-align: center;
            background-color: $light-primary-color;
            >span {
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
        >td.center {
            text-align: center;
        }
        >td.right {
            text-align: right;
        }
        >td.left {
            text-align: left;
        }
    }
}