@import "variables.scss";

@mixin table {
    tr {
        > th {
            text-align: center;
            background-color: $light-primary-color;
            > span {
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
        > td.center {
            text-align: center;
        }
        > td.right {
            text-align: right;
        }
        > td.left {
            text-align: left;
        }
    }
    ::ng-deep {
        .p-paginator {
            .p-paginator-pages {
                .p-paginator-page {
                    color: $dark-primary-color;
                    border-radius: 5px;
                }
                .p-paginator-page:not(.p-highlight):hover {
                    color: $dark-primary-color;
                    background-color: $light-primary-color;
                }
                .p-paginator-page.p-highlight {
                    color: $tertiary-color-text;
                    background-color: $primary-color;
                }
            }
        }

        .p-paginator .p-paginator-first,
        .p-paginator .p-paginator-prev,
        .p-paginator .p-paginator-next,
        .p-paginator .p-paginator-last {
            border-radius: 5px;
        }

        .p-datatable .p-sortable-column .p-sortable-column-icon {
            margin-left: 0px;
        }
    }

    @media only screen and (min-width: 1224px) {
        p-table {
            .headline-xl {
                font-size: 24px;
                line-height: 36px;
            }

            .headline-l {
                font-size: 16px;
                line-height: 28px;
            }

            .headline-m {
                font-size: 12px;
                line-height: 22px;
            }

            .headline-s {
                font-size: 10px;
                line-height: 19px;
            }

            .headline-xs {
                font-size: 8px;
                line-height: 16px;
            }

            .subtitle {
                font-size: 10px;
                line-height: 19px;
            }

            .description {
                font-size: 12px;
                line-height: 22px;
            }

            .body-uno {
                font-size: 12px;
                line-height: 16px;
            }

            .body-dos {
                font-size: 6px;
                line-height: 13px;
            }

            .field {
                font-size: 8px;
                line-height: 14px;
            }

            .caption {
                font-size: 6px;
                line-height: 10px;
            }

            tr {
                > th {
                    padding: 8px;
                }
            }
        }
    }

    @media only screen and (min-width: 1824px) {
        p-table {
            .headline-xl {
                font-size: 30px;
                line-height: 42px;
            }

            .headline-l {
                font-size: 22px;
                line-height: 34px;
            }

            .headline-m {
                font-size: 18px;
                line-height: 28px;
            }

            .headline-s {
                font-size: 16px;
                line-height: 25px;
            }

            .headline-xs {
                font-size: 14px;
                line-height: 22px;
            }

            .subtitle {
                font-size: 16px;
                line-height: 25px;
            }

            .description {
                font-size: 18px;
                line-height: 28px;
            }

            .body-uno {
                font-size: 14px;
                line-height: 20px;
            }

            .body-dos {
                font-size: 12px;
                line-height: 19px;
            }

            .field {
                font-size: 14px;
                line-height: 20px;
            }

            .caption {
                font-size: 12px;
                line-height: 16px;
            }

            tr {
                > th {
                    padding: 14px;
                }
            }
        }
    }
}

@mixin message {
    ::ng-deep {
        .mat-tooltip {
            white-space: pre-line !important;
            color: $primary-color-text !important;
            background-color: $background-color;

            font-family: $font-worksans;
            font-weight: 600;
            font-size: 16px;
        }

        .p-message {
            .p-message-wrapper {
                padding: 10px 32px;
            }
            .p-message-summary {
                font-family: $font-monserrat;
                font-weight: 700;
                font-size: 24px;

                padding-left: 32px;
            }
            &.p-message-info {
                background: $light-primary-color;
                color: $dark-primary-color;

                .p-message-icon {
                    margin: 0px;
                    width: 42px;
                    height: 42px;
                    content: url("./assets/icons/informacion-circular-negativo-fondo-blanco.svg");
                }
            }
            &.p-message-success {
                box-shadow: 0 0 0 1px $sucess-color;
                background: unset;
                color: $sucess-color;

                .p-message-icon {
                    margin: 0px;
                    width: 42px;
                    height: 42px;
                    content: url("./assets/icons/exito-circular-negativo.svg");
                }
            }
        }
    }
}
