@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Work+Sans:wght@400;500&display=swap");
@import "./variables.scss";

@import "~@angular/material/theming";
@include mat-core();

$mat-vuce: (
  50: #e6fffd,
  100: #c5cae9,
  200: #9fa8da,
  300: #7986cb,
  400: $primary-color,
  500: #3f51b5,
  600: #3949ab,
  700: #303f9f,
  800: #283593,
  900: $dark-primary-color,
  A100: #8c9eff,
  A200: #536dfe,
  A400: #3d5afe,
  A700: #304ffe,
  contrast: (
    50: $primary-color,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$theme-primary: mat-palette($mat-vuce, 400, 700, 900);
$theme-accent: mat-palette($mat-blue-grey, 500, 400, A700);
$theme-warn: mat-palette($mat-red);

$theme: mat-light-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn,
    ),
  )
);

@include angular-material-theme($theme);

html,
body {
  height: 100%;
  margin: 0;
}

.headline-xl {
  font-family: $font-monserrat;
  color: $dark-primary-color;
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
}

.headline-l {
  font-family: $font-monserrat;
  color: $dark-primary-color;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
}

.headline-m {
  font-family: $font-monserrat;
  color: $dark-primary-color;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

.headline-s {
  font-family: $font-monserrat;
  color: $dark-primary-color;
  font-weight: 600;
  font-size: 16px;
  line-height: 27px;
}

.headline-xs {
  font-family: $font-monserrat;
  color: $dark-primary-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.subtitle {
  font-family: $font-monserrat;
  color: $dark-primary-color;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.description {
  font-family: $font-worksans;
  color: $dark-primary-color;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.body-uno {
  font-family: $font-worksans;
  color: $primary-color-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.body-dos {
  font-family: $font-worksans;
  color: $primary-color-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.button-text {
  font-family: $font-worksans;
  color: $dark-primary-color;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-decoration: underline;
}

.field {
  font-family: $font-worksans;
  color: $primary-color-text;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.caption {
  font-family: $font-worksans;
  color: $primary-color-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

@each $colorName, $color in $text-colors {
  .--#{$colorName} {
    color: $color;
  }
}

input {
  font-family: $font-worksans;
  font-weight: 500;
  font-size: 16px;

  color: $primary-color-text;

  width: 100%;
  height: 40px;
  padding: 0px 16px;

  border-radius: 5px;

  border-width: 1px;
  border-style: solid;
  border-color: $secondary-color-text;
}

input::placeholder {
  color: $secondary-color-text;
}

input:focus {
  box-shadow: 0 0 0 1px $primary-color;
  outline: none;
}

button {
  font-family: $font-worksans;
  font-weight: 500;
  font-size: 15px;
  color: $tertiary-color-text;

  outline: none;
  border: none;
  border-radius: 25px;

  user-select: none;

  padding: 0px 16px;

  line-height: 36px;
}

button:enabled {
  cursor: pointer;
  background-color: $primary-color;
}

button:disabled {
  background-color: $secondary-color-text;
}

button:enabled:hover {
  background-color: $dark-primary-color;
}

svg {
  fill: $primary-color-icon;
}

.container {
  margin-left: 74px;
  margin-right: 74px;
}

@media only screen and (min-width: 1224px) {
  .headline-xl {
    font-size: 24px;
    line-height: 36px;
  }

  .headline-l {
    font-size: 16px;
    line-height: 28px;
  }

  .headline-m {
    font-size: 12px;
    line-height: 22px;
  }

  .headline-s {
    font-size: 10px;
    line-height: 19px;
  }

  .headline-xs {
    font-size: 8px;
    line-height: 16px;
  }

  .subtitle {
    font-size: 10px;
    line-height: 19px;
  }

  .description {
    font-size: 12px;
    line-height: 22px;
  }

  .body-uno {
    font-size: 12px;
    line-height: 16px;
  }

  .body-dos {
    font-size: 6px;
    line-height: 13px;
  }

  .button-text {
    font-size: 7px;
    line-height: 14px;
  }

  .field {
    font-size: 8px;
    line-height: 14px;
  }

  .caption {
    font-size: 6px;
    line-height: 10px;
  }
}

@media only screen and (min-width: 1824px) {
  .headline-xl {
    font-size: 30px;
    line-height: 42px;
  }

  .headline-l {
    font-size: 22px;
    line-height: 34px;
  }

  .headline-m {
    font-size: 18px;
    line-height: 28px;
  }

  .headline-s {
    font-size: 16px;
    line-height: 25px;
  }

  .headline-xs {
    font-size: 14px;
    line-height: 22px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 25px;
  }

  .description {
    font-size: 18px;
    line-height: 28px;
  }

  .body-uno {
    font-size: 14px;
    line-height: 20px;
  }

  .body-dos {
    font-size: 12px;
    line-height: 19px;
  }

  .button-text {
    font-size: 13px;
    line-height: 20px;
  }

  .field {
    font-size: 14px;
    line-height: 20px;
  }

  .caption {
    font-size: 12px;
    line-height: 16px;
  }
}

.spacer {
  flex: 1 1 auto;
}

/*Se agrega nuevamente */

/*Se agrega nuevamente */

.body-uno {
  font-family: $font-worksans;
  color: $primary-color-text;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.body-dos {
  font-family: $font-worksans;
  color: $primary-color-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.button-text {
  font-family: $font-worksans;
  color: $dark-primary-color;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-decoration: underline;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
}

.button-text:hover {
  color: $primary-color;
}

.button-text-disable {
  font-family: $font-worksans;
  color: $primary-color-text;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-decoration: underline;
  outline: none;
  text-transform: uppercase;
  cursor: not-allowed;
}

.button-content {
  font-family: $font-worksans;
  color: $tertiary-color-text;
  background-color: $primary-color;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  border-color: $primary-color;
  border-style: solid;
  cursor: pointer;
  padding: 3px 15px 3px;
}

.button-content:hover {
  background-color: $dark-primary-color;
  border-color: $dark-primary-color;
}

.button-content-disable {
  font-family: $font-worksans;
  color: $tertiary-color-text;
  background-color: $secondary-color-text;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  border-color: $secondary-color-text;
  border-style: none;
  cursor: not-allowed;
  padding: 0px 15px 0px;
}

.button-nonContent {
  font-family: $font-worksans;
  color: $primary-color;
  background-color: $tertiary-color-text;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  border-color: $primary-color;
  border-style: solid;
  cursor: pointer;
  padding: 3px 15px 3px;
}

.button-nonContent:hover {
  background-color: $dark-primary-color;
  color: $tertiary-color-text;
  border-color: $dark-primary-color;
}

.button-nonContent-disable {
  font-family: $font-worksans;
  color: $tertiary-color-text;
  background-color: $secondary-color-text;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  border-color: $secondary-color-text;
  border-style: none;
  cursor: not-allowed;
  padding: 0px 15px 0px;
}

.caption {
  font-family: $font-worksans;
  color: $primary-color-text;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.checker-text {
  color: $dark-primary-color;
}

.description {
  font-family: $font-worksans;
  color: $dark-primary-color;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.field {
  font-family: $font-worksans;
  color: $primary-color-text;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.form-warning {
  background-color: rgba(255, 236, 236, 0.877);
  font-family: $font-monserrat;
  color: $danger-color-text;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  padding: 0px 15px 0px;
  border-radius: 3px;
}

.headline-xl {
  font-family: $font-monserrat;
  color: $dark-primary-color;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.headline-l {
  font-family: $font-monserrat;
  color: $dark-primary-color;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.headline-m {
  font-family: $font-monserrat;
  color: $dark-primary-color;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}


input[type=file]::-webkit-file-upload-button {
  font-family: $font-worksans;
  color: $primary-color;
  background-color: $tertiary-color-text;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  border-color: $primary-color;
  cursor: pointer;
  padding: 0px 15px 0px;
  outline: none;
  text-transform: uppercase;
}

input[type=file]::file-selector-button {
  font-family: $font-worksans;
  color: $primary-color;
  background-color: $tertiary-color-text;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
  border-color: $primary-color;
  cursor: pointer;
  padding: 0px 15px 0px;
  outline: none;
  text-transform: uppercase;
}

input[type=file]::-webkit-file-upload-button:hover {
  background-color: $dark-primary-color;
  color: $tertiary-color-text;
}

input[type=file]::file-selector-button:hover {
  background-color: $dark-primary-color;
  color: $tertiary-color-text;
}

.p-checkbox .p-checkbox-box {
  border-color: $primary-color;
  border-radius: 5px;
}

.p-checkbox .p-checkbox-box:not(.p-disabled):hover {
  border-color: $primary-color;
  border-radius: 5px;
}

.p-checkbox .p-checkbox-box:not(.p-disabled).p-focus {
  border-color: $primary-color;
  border-radius: 5px;
}

.p-radiobutton .p-radiobutton-box {
  border-color: $primary-color;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled):hover {
  border-color: $primary-color;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
  border-color: $primary-color;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  background-color: $primary-color;
  color: $tertiary-color-text;
  padding: 10px;
  margin-bottom: 2px;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight .p-accordion-header-link{
  background-color: $primary-color;
  color: $tertiary-color-text;
}

.p-accordion .p-accordion-header:not(.p-highlight):not(.p-disabled):hover .p-accordion-header-link {
  background-color: $dark-primary-color;
  color: $tertiary-color-text;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight:hover .p-accordion-header-link{
  background-color: $dark-primary-color;
  color: $tertiary-color-text;
}

.p-accordion .p-accordion-tab:not(.p-accordion-tab-active) .p-accordion-header-link:focus {
  background-color: $primary-color;
  color: $tertiary-color-text;
}

.subtitle {
  font-family: $font-monserrat;
  color: $dark-primary-color;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

::placeholder {
  font-family: $font-worksans;
  color: $primary-color-text;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  padding-left: 0%;
}

@each $colorName, $color in $text-colors {
  .--#{$colorName} {
     color: $color;
  }
}

/*Ajuste del tamaño de los input y dropdown*/
.p-field {
  margin-bottom: 0rem;
}

.p-inputtext {
  padding-left: 2%;
  width: 400px;
  height: 30px;
  font-family: $font-worksans;
  color: $primary-color-text;
}


.p-dropdown {
  padding: 0px;
  display: flex;
  border-radius: 5px;
  height: 33px;
  width: 400px;
  text-overflow: initial;
  color: $primary-color-text;
  text-transform: uppercase;
}

.p-dropdown .p-dropdown-label {
  margin-top: -10px;
}

textarea {
  width: 402px;
  height: 34px;
  border-radius: 5px;
  padding-left: 1%;
  font-family: $font-worksans;
  color: $primary-color-text;
}

.longDescription {
  width: 942px;
  height: 47px;
  border-radius: 5px;
}

.p-col-6 {
  width: 540px;
}

.p-field img {
  width: 36px;
  height: 20px;
  margin-left: 0px;
  display: -moz-inline-grid;
}

.labeled{
  padding-left: 25px;
}

.field img {
  width: 36px;
  height: 20px;
  margin-left: -30px;
  display: -moz-inline-grid;
}

hr {
  border-color: $no-color;
  background-color: $no-color;
}

.textImg {
 position: relative;
 top: -15px;
}

.p-checkbox .p-checkbox-box {
  top: -7px;
}

.checker-text {
  position: relative;
  top: -5px;
}
