@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Work+Sans:wght@400;500&display=swap");
@import "./variables.scss";
@import "~@angular/material/theming";
@include mat-core();
$mat-vuce: ( 50: #e6fffd,
100: #c5cae9,
200: #9fa8da,
300: #7986cb,
400: $primary-color,
500: #3f51b5,
600: #3949ab,
700: #303f9f,
800: #283593,
900: $dark-primary-color,
A100: #8c9eff,
A200: #536dfe,
A400: #3d5afe,
A700: #304ffe,
contrast: ( 50: $primary-color, 100: #000000, 200: #000000, 300: #ffffff, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #ffffff, A400: #ffffff, A700: #ffffff, ),
);
$theme-primary: mat-palette($mat-vuce,
400,
700,
900);
$theme-accent: mat-palette($mat-blue-grey,
500,
400,
A700);
$theme-warn: mat-palette($mat-red);
$theme: mat-light-theme( ( color: ( primary: $theme-primary, accent: $theme-accent, warn: $theme-warn, ), ));
@include angular-material-theme($theme);
@mixin table {
    tr {
        >th {
            text-align: center;
            background-color: $light-primary-color;
            >span {
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
        }
        >td.center {
            text-align: center;
        }
    }
}

html,
body {
    height: 100%;
    margin: 0;
}

.headline-xl {
    font-family: $font-monserrat;
    color: $dark-primary-color;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
}

.headline-l {
    font-family: $font-monserrat;
    color: $dark-primary-color;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.headline-m {
    font-family: $font-monserrat;
    color: $dark-primary-color;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.headline-s {
    font-family: $font-monserrat;
    color: $dark-primary-color;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.headline-xs {
    font-family: $font-monserrat;
    color: $dark-primary-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.subtitle {
    font-family: $font-monserrat;
    color: $dark-primary-color;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}

.description {
    font-family: $font-worksans;
    color: $dark-primary-color;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.body-uno {
    font-family: $font-worksans;
    color: $primary-color-text;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.body-dos {
    font-family: $font-worksans;
    color: $primary-color-text;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.button-text {
    font-family: $font-worksans;
    color: $dark-primary-color;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-decoration: underline;
}

.field {
    font-family: $font-worksans;
    color: $primary-color-text;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.caption {
    font-family: $font-worksans;
    color: $primary-color-text;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

@each $colorName,
$color in $text-colors {
    .--#{$colorName} {
        color: $color;
    }
}

label {
    font-family: $font-worksans;
    font-weight: 500;
    font-size: 16px;
    color: $primary-color-text;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    font-family: $font-worksans;
    font-weight: 500;
    font-size: 16px;
    color: $primary-color-text;
    width: 100%;
    height: 40px;
    padding: 0px 16px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: $secondary-color-text;
}

input[type="checkbox"] {
    margin-right: 5px;
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder {
    color: $secondary-color-text;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
    box-shadow: 0 0 0 1px $primary-color;
    outline: none;
}

select {
    font-family: $font-worksans;
    font-weight: 500;
    font-size: 16px;
    color: $primary-color-text;
    width: 100%;
    height: 40px;
    padding: 0px 16px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: $secondary-color-text;
    cursor: pointer;
    appearance: none;
    background-image: url("/assets/icons/flecha-abajo-positivo.svg");
    background-repeat: no-repeat;
    background-position: right 16px top 50%, 0 0;
    background-size: 12px, 100%;
}

select:focus {
    box-shadow: 0 0 0 1px $primary-color;
    outline: none;
}

select:disabled {
    cursor: default;
    background-color: $background-color;
}

textarea {
    font-family: $font-worksans;
    font-weight: 500;
    font-size: 16px;
    color: $primary-color-text;
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: $secondary-color-text;
}

textarea::placeholder {
    color: $secondary-color-text;
}

textarea:focus {
    box-shadow: 0 0 0 1px $primary-color;
    outline: none;
}

button {
    font-family: $font-worksans;
    font-weight: 500;
    font-size: 15px;
    color: $tertiary-color-text;
    outline: none;
    border: none;
    border-radius: 25px;
    user-select: none;
    padding: 0px 16px;
    line-height: 36px;
}

button:enabled {
    cursor: pointer;
    background-color: $primary-color;
}

button:disabled {
    background-color: $secondary-color-text;
}

button:enabled:hover {
    background-color: $dark-primary-color;
}

button.outlined {
    background-color: unset;
}

button.outlined:enabled {
    box-shadow: 0 0 0 1.5pt $primary-color;
    color: $primary-color;
}

button.outlined:disabled {
    box-shadow: 0 0 0 1.5pt $secondary-color-text;
    color: $secondary-color-text;
}

button:enabled:hover {
    box-shadow: none;
    color: $tertiary-color-text;
}

svg {
    fill: $primary-color-icon;
}

mat-icon.disabled {
    >svg {
        fill: $secondary-color-icon !important;
    }
}

.container {
    margin-left: 74px;
    margin-right: 74px;
}

.spacer {
    flex: 1 1 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    label {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.icon-group {
    display: flex;
    align-items: center;
    mat-icon {
        width: 32px;
        height: 32px;
        margin-left: 10px;
        margin-right: 10px;
        >svg {
            fill: $primary-color;
        }
    }
}

div.error-input {
    margin: 5px 0px;
    color: red;
}

hr {
    background-color: rgb(209, 208, 208);
    border: 0 none;
    color: rgb(209, 208, 208);
    height: 1px;
}