$font-monserrat: "Montserrat";
$font-worksans: "Work Sans";

$dark-primary-color: #004884;
$primary-color: #3366cc;
$light-primary-color: #e6effd;
$primary-color-text: #4b4b4b;
$secondary-color-text: #bababa;
$tertiary-color-text: #ffffff;

$sucess-color: #069169;
$error-color: #a80521;

$primary-color-icon: #3772ff;
$secondary-color-icon: #bababa;

$background-color: #f2f2f2;

$text-colors: (
    dark-primary-color: $dark-primary-color,
    primary-color: $primary-color,
    primary-color-text: $primary-color-text,
    secondary-color-text: $secondary-color-text,
    tertiary-color-text: $tertiary-color-text,
    error-color: $error-color
);
