<div class="contenedor-footer " color="primary">
    <div class="contenedor-imagenes">
        <img class="gov-co" src="../../../../../../assets/images/gov-co.svg" />
        <img class="marca-pais" src="../../../../../../assets/images/Marca_país_Colombia_logo.png" />
    </div>
    <div class="informacion-central">
        <p class="body-2">
            <strong>Administración del Registro de Productores y Bienes Nacionales </strong>
        </p>
        <p class="body-2">
            Dirección: Calle 28 No. 13 A – 15
            Bogotá, Colombia.
            Horario de Atención: Lunes a Viernes 8:30 a.m. - 5:00 p.m.
        </p>
        <p class="body-2">
            Extención de Responsabilidad - 2011 (c) Ministerio de Comercio, Industria y Turismo, República de Colombia.
        </p>
    </div>
    <div class="contacto">
        
        <p class="body-2">
            <strong>Contacto</strong>
        </p>
        
        <p>
            Línea Gratuita 018000958283 <br>
            PBX: (+571) 6067676 <br>
            Fax: (+571) 6067522 <br>
            Correo institucional: info@mincit.gov.co

        </p>

        <a href=".">Notificaciones Jurídicas</a><br>
        <a href=".">Ley de Protección de Datos</a>

    </div>
</div>
