@import "../../../../../../variables.scss";

::ng-deep {
    .warning {
        > svg {
            fill: $warning-color;
        }
    }
    .error {
        > svg {
            fill: $error-color;
        }
    }
}

.alert {    
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    > mat-icon {
        width: 60px;
        height: 60px;
    }
    text-align: center;

    p.headline-l {
        color: $primary-color;
    }
    > .button-group {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }
}
