@import "../../../../../../mixins.scss";

@include message;

.table {
  > .title {
    padding: 16px;
    > .sub-title {
      display: flex;
    }
  }
  @include table;
}

.button-group {
  display: flex;
}

.cargue-masivo {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
    align-items: center;
    label{
      margin-left: 10px;
    }
    mat-icon {
      margin-right: 10px;
    }
  }
}
