@import "../../../../../variables.scss";

.alert {
    > mat-icon {
        width: 60px;
        height: 60px;
    }
    text-align: center;

    .form-group {
        display: flex;
        flex-direction: column;
        label {
            margin-bottom: 5px;
        }
        text-align: left;
    }

    > .button-group {
        display: flex;
        justify-content: space-around;
    }
}

textarea {
    height: 120px;
    &.ng-invalid {
        &.ng-dirty,
        &.ng-touched {
            box-shadow: 0 0 0 1px $error-color;
            color: $error-color;
        }
    }
}
