<div class="p-grid">
    <div class="p-col-12">
        <p-message severity="info"
            text="Seleccionar el criterio bajo el cual se califica como productor de bienes nacionales, en concordancia con los criterios establecidos en los artìculos 2º al 6º del Decreto 2680 de 2009 del Ministerio de Comercio, Industria y Turismo.">
        </p-message>
    </div>
</div>
<form [formGroup]="formularioCriterio">

    <div class="p-grid">
        <div class="p-col">
            <div class="icon-group">
                <mat-icon svgIcon="informacion-circular-negativo" [ngClass] ="inactivoIconBienes ? 'enable': 'disabled'"
                    matTooltip="Bienes Totalmente Obtenidos Decreto 2680 del 2009 artìculo 2.">
                </mat-icon>
                <label>
                    <input type="checkbox"
                           formControlName="bienesTotal" />
                    3.1 Bienes Totalmente Obtenidos
                </label>
            </div>
        </div>
        <div class="p-col">
            <div class="icon-group">
                <mat-icon svgIcon="informacion-circular-negativo"
                    matTooltip="Porcentaje Mìnimo Valor Agregado Nacional: Decreto 2680 del 2009 artìculo 4 y 5.">
                </mat-icon>
                <label>
                    <input type="checkbox" 
                           formControlName="porcentajeMinimo"/>
                    3.3 Porcentaje Mínimo Valor Agredado Nacional
                </label>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col">
            <div class="icon-group">
                <mat-icon svgIcon="informacion-circular-negativo"
                    matTooltip="Bienes Elaborados Exclusivamente Con Mater ias Nacionales:  Decreto 2680 del 2009 artìculo 3.">
                </mat-icon>
                <label>
                    <input type="checkbox" 
                            formControlName="bienesElaborados"/>
                    3.2 Bienes Elaborados Exclusivamente Con Materias Nacionales
                </label>
            </div>
        </div>
        <div class="p-col">
            <div class="icon-group">
                <mat-icon svgIcon="informacion-circular-negativo"
                    matTooltip="Proceso Productivo Sustancial Decreto 2680 del 2009 artìculo 4, 6 y 7.">
                </mat-icon>
                <label>
                    <input type="checkbox"
                           formControlName="procesoProductivo" />
                    3.4 Proceso Productivo Sustancial
                </label>
            </div>
        </div>
    </div>


    <div class="p-grid">
        <div class="p-col-3">
            <button>Decreto 2680 de 2009</button>
        </div>
        <div class="p-col-3">
            <button *ngIf="mostrarDecreto1122">Decreto 1122 de 2019</button>
        </div>
        <div class="p-col-6">
            <p-message severity="info" text="Bienes obtenidos por transformaciòn sustancial."></p-message>
        </div>
    </div>

    <hr />
</form>
<form [formGroup] = "formularioInsumo">
    <div class="titulo" *ngIf="mostrarInsumo">
        <label class="headline-l">Origen de los insumos</label>
        <label>Favor seleccione el origen de los insumos como lo presenta en planilla A-RTE</label>
        
        <div class=" contenido">
            <label class="group">
                <input type="checkbox" 
                formControlName="nacional"/>
                100% Nacional
            </label>
            <label class="group">
                <input type="checkbox" 
                formControlName="importado"/>
                Importado por Monopartista
            </label>
            <label class="group">
                <input type="checkbox" 
                formControlName="piezaInsumo"/>
                Piezas o Insumos Importados y Suministrados por la Ensambladora o mixtos
            </label>
        </div>
    </div>
</form>

