<div class="p-grid">
    <div class="p-col">
        <p-message severity="info"
            text="Corresponde a las materias primas, productos intermedios, partes y piezas de fabricación extranjera, utilizados en la elaboración del producto, ya sean importados directamente por el fabricante o adquiridos en el mercado nacional importados directamente por el proveedor.">
        </p-message>
    </div>
</div>

<ng-template #produccionNacional [ngIf]="tipoFormulario === 'produccionNacional'">
    <div class="p-grid">
        <div class="p-col">
            <div class="icon-group">
                <mat-icon svgIcon="informacion-circular-negativo"
                    matTooltip="Bienes Totalmente Obtenidos Decreto 2680 del 2009 artìculo 2.">
                </mat-icon>
                <label>
                    <input type="checkbox"  [(ngModel)]="bienesTotalmenteObtenidos"
                    (ngModelChange)="onSelectedCheckBox('bienesTotalmenteObtenidos', $event)"/>
                    3.1. Bienes Totalmente Obtenidos
                </label>
            </div>
        </div>
        <div class="p-col">
            <div class="icon-group">
              <mat-icon svgIcon="informacion-circular-negativo"
                  matTooltip="Porcentaje Mìnimo Valor Agregado Nacional: Decreto 2680 del 2009 artìculo 4 y 5.">
              </mat-icon>
              <label>
                  <input type="checkbox" [(ngModel)]="porcentajeMinimoValorAgregadoNacional"
                  (ngModelChange)="onSelectedCheckBox('porcentajeMinimoValorAgregadoNacional', $event)"/>
                  3.3. Porcentaje Mìnimo Valor Agredado Nacional
              </label>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col">
            <div class="icon-group">
                <mat-icon svgIcon="informacion-circular-negativo"
                    matTooltip="Bienes Elaborados Exclusivamente Con Mater ias Nacionales:  Decreto 2680 del 2009 artìculo 3.">
                </mat-icon>
                <label>
                    <input type="checkbox" [(ngModel)]="bienesElaboradosMateriasNacionales"
                    (ngModelChange)="onSelectedCheckBox('bienesElaboradosMateriasNacionales', $event)"/>
                    3.2. Bienes Elaborados Exclusivamente Con Materias Nacionales
                </label>
            </div>
        </div>
        <div class="p-col">
            <div class="icon-group">
                <mat-icon svgIcon="informacion-circular-negativo"
                    matTooltip="Proceso Productivo Sustancial Decreto 2680 del 2009 artìculo 4, 6 y 7.">
                </mat-icon>
                <label>
                    <input type="checkbox" [(ngModel)]="procesoProductivoSustancial"
                    (ngModelChange)="onSelectedCheckBox('procesoProductivoSustancial', $event)"/>
                    3.4. Proceso Productivo Sustancial
                </label>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col">
            <button>Decreto 2680 de 2009</button>
        </div>
        <div class="p-col">
            <p-message severity="info" text="Bienes obtenidos por transformaciòn sustancial."></p-message>
        </div>
    </div>
</ng-template>

<ng-template #fomentoIndustriaAutomotriz [ngIf]="tipoFormulario === 'fomentoIndustriaAutomotriz'">
    <div class="p-grid">
        <div class="p-col">
            <div class="icon-group">
                <mat-icon svgIcon="informacion-circular-negativo" class="disabled"
                    matTooltip="Bienes Totalmente Obtenidos Decreto 2680 del 2009 artìculo 2.">
                </mat-icon>
                <label>
                    <input type="checkbox" disabled />
                    3.1. Bienes Totalmente Obtenidos
                </label>
            </div>
        </div>
        <div class="p-col">
            <div class="icon-group">
                <mat-icon svgIcon="informacion-circular-negativo"
                    matTooltip="Porcentaje Mìnimo Valor Agregado Nacional: Decreto 2680 del 2009 artìculo 4 y 5.">
                </mat-icon>
                <label>
                    <input type="checkbox" [(ngModel)]="porcentajeMinimoValorAgregadoNacional"
                    (ngModelChange)="onSelectedCheckBox('porcentajeMinimoValorAgregadoNacional', $event)"/>
                    3.3. Porcentaje Mìnimo Valor Agredado Nacional
                </label>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col">
            <div class="icon-group">
                <mat-icon svgIcon="informacion-circular-negativo"
                    matTooltip="Bienes Elaborados Exclusivamente Con Mater ias Nacionales:  Decreto 2680 del 2009 artìculo 3.">
                </mat-icon>
                <label>
                    <input type="checkbox" [(ngModel)]="bienesElaboradosMateriasNacionales"
                    (ngModelChange)="onSelectedCheckBox('bienesElaboradosMateriasNacionales', $event)"/>
                    3.2. Bienes Elaborados Exclusivamente Con Materias Nacionales
                </label>
            </div>
        </div>
        <div class="p-col">
            <div class="icon-group">
                <mat-icon svgIcon="informacion-circular-negativo"
                    matTooltip="Proceso Productivo Sustancial Decreto 2680 del 2009 artìculo 4, 6 y 7.">
                </mat-icon>
                <label>
                    <input type="checkbox" [(ngModel)]="procesoProductivoSustancial"
                    (ngModelChange)="onSelectedCheckBox('procesoProductivoSustancial', $event)"/>
                    3.4. Proceso Productivo Sustancial
                </label>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col">
            <button>Decreto 2680 de 2009</button>
        </div>
        <div class="p-col">
            <p-message severity="info" text="Bienes obtenidos por transformaciòn sustancial."></p-message>
        </div>
    </div>
</ng-template>

<ng-template #regimenTransformacionEnsamblePlanillas
    [ngIf]="tipoFormulario === 'regimenTransformacionEnsamblePlanillas'">

    <div class="p-grid">
        <div class="p-col">
            <div class="icon-group">
                <mat-icon svgIcon="informacion-circular-negativo" class="disabled"
                    matTooltip="Bienes Totalmente Obtenidos Decreto 2680 del 2009 artìculo 2.">
                </mat-icon>
                <label>
                    <input type="checkbox" disabled />
                    3.1. Bienes Totalmente Obtenidos
                </label>
            </div>
        </div>
        <div class="p-col">
            <div class="icon-group">
                <mat-icon svgIcon="informacion-circular-negativo"
                    matTooltip="Porcentaje Mìnimo Valor Agregado Nacional: Decreto 2680 del 2009 artìculo 4 y 5.">
                </mat-icon>
                <label>
                    <input type="checkbox" [(ngModel)]="porcentajeMinimoValorAgregadoNacional"
                    (ngModelChange)="onSelectedCheckBox('porcentajeMinimoValorAgregadoNacional', $event)"/>
                    3.3. Porcentaje Mìnimo Valor Agredado Nacional
                </label>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col">
            <div class="icon-group">
                <mat-icon svgIcon="informacion-circular-negativo"
                    matTooltip="Bienes Elaborados Exclusivamente Con Mater ias Nacionales:  Decreto 2680 del 2009 artìculo 3.">
                </mat-icon>
                <label>
                    <input type="checkbox" [(ngModel)]="bienesElaboradosMateriasNacionales"
                    (ngModelChange)="onSelectedCheckBox('bienesElaboradosMateriasNacionales', $event)"/>
                    3.2. Bienes Elaborados Exclusivamente Con Materias Nacionales
                </label>
            </div>
        </div>
        <div class="p-col">
            <div class="icon-group">
                <mat-icon svgIcon="informacion-circular-negativo"
                    matTooltip="Proceso Productivo Sustancial Decreto 2680 del 2009 artìculo 4, 6 y 7.">
                </mat-icon>
                <label>
                    <input type="checkbox" [(ngModel)]="procesoProductivoSustancial"
                    (ngModelChange)="onSelectedCheckBox('procesoProductivoSustancial', $event)"/>
                    3.4. Proceso Productivo Sustancial
                </label>
            </div>
        </div>
    </div>

    <div class="p-grid">
        <div class="p-col">
            <button>Decreto 2680 de 2009</button>
        </div>
        <div class="p-col">
            <p-message severity="info" text="Bienes obtenidos por transformaciòn sustancial."></p-message>
        </div>
    </div>

    <hr />
    <div class="titulo">
        <label class="headline-l">Origen de los insumos</label>
        <label>Favor seleccione el origen de los insumos como lo presenta en planilla A-RTE</label>

        <ng-container *ngIf="!mostrarRegistro">
            <div class=" contenido">
                <label class="group">
                    <input type="checkbox" [(ngModel)]="nacional"
                    (ngModelChange)="onSelectedCheckBox('nacional', $event)"/>
                    100% Nacional
                </label>
                <label class="group">
                    <input type="checkbox" [(ngModel)]="importadoMonopartista"
                    (ngModelChange)="onSelectedCheckBox('importadoMonopartista', $event)"/>
                    Importado por Monopartista
                </label>
                <label class="group">
                    <input type="checkbox" [(ngModel)]="suministradoEnsambladora"
                    (ngModelChange)="onSelectedCheckBox('suministradoEnsambladora', $event)"/>
                    Piezas o Insumos Importados y Suministrados por la Ensambladora o mixtos
                </label>
            </div>
        </ng-container>

        <ng-container *ngIf="mostrarRegistroNacional">
            <div class=" contenido">
                <label class="group">
                    <input type="checkbox" [(ngModel)]="nacional"
                    (ngModelChange)="onSelectedCheckBox('nacional', $event)"/>
                    100% Nacional
                </label>
                <label class="group">
                    <input type="checkbox" disabled/>
                    Importado por Monopartista
                </label>
                <label class="group">
                    <input type="checkbox" disabled/>
                    Piezas o Insumos Importados y Suministrados por la Ensambladora o mixtos
                </label>
            </div>
        </ng-container>

        <ng-container *ngIf="mostrarRegistroNoNacional">
            <div class=" contenido">
                <label class="group">
                    <input type="checkbox" disabled/>
                    100% Nacional
                </label>
                <label class="group">
                    <input type="checkbox" [(ngModel)]="importadoMonopartista"
                    (ngModelChange)="onSelectedCheckBox('importadoMonopartista', $event)"/>
                    Importado por Monopartista
                </label>
                <label class="group">
                    <input type="checkbox" [(ngModel)]="suministradoEnsambladora"
                    (ngModelChange)="onSelectedCheckBox('suministradoEnsambladora', $event)"/>
                    Piezas o Insumos Importados y Suministrados por la Ensambladora o mixtos
                </label>
            </div>
        </ng-container>
    </div>
</ng-template>
