@import "./../../../../../variables.scss";
@import "../../../../../mixins.scss";

.table {
    > .title {
        padding: 16px;
        > .sub-title {
            display: flex;
        }
    }
    @include table;
}

.table.completa {
    border-width: 2px;
    border-style: solid;
    border-color: $light-primary-color;
    border-radius: 20px;
    overflow: hidden;
    > .title {
        padding: 16px;
        > .sub-title {
            display: flex;
        }
    }
    @include table;
}

@include message;

.buttons {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    button {
        margin-left: auto;
    }
}

mat-icon[disabled="true"] {
    pointer-events: none;
}
