<div class="table" [ngClass]="{completa: anexoEmbebido}" *ngIf="!loading">
    <div class="title">
        <h3 class="headline-m" *ngIf="anexoEmbebido">Anexos</h3>
        <div class="sub-title">
            <button *ngIf="anexoEmbebido && solicitud.estado == estado['Borrador']"
                (click)="nuevoAnexo()">NUEVO</button>
            <span class="spacer"></span>
            <div class="input-group">
                <input placeholder="Buscar" type="text" [(ngModel)]="busqueda" (ngModelChange)="onBuscar()" />
                <mat-icon svgIcon="buscar-circular-negativo"></mat-icon>
            </div>
        </div>
    </div>
    <p-table [value]="adjuntos" [customSort]="true" [lazy]="true" (onLazyLoad)="onSort($event)">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="nombre">
                    <span class="headline-s --dark-primary-color">
                        Archivo<p-sortIcon field="nombre"></p-sortIcon>
                    </span>
                </th>
                <th pSortableColumn="descripcion">
                    <span class="headline-s --dark-primary-color">
                        Descripción<p-sortIcon field="descripcion"></p-sortIcon>
                    </span>
                </th>
                <th pSortableColumn="fechaCreacion">
                    <span class="headline-s --dark-primary-color">
                        Fecha de presentación<p-sortIcon field="fechaCreacion"></p-sortIcon>
                    </span>
                </th>
                <th>
                    <span class="headline-s --dark-primary-color">
                        Eliminar
                    </span>
                </th>
                <th>
                    <span class="headline-s --dark-primary-color">
                        Descargar
                    </span>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-anexo let-index="rowIndex">
            <tr>
                <td>
                    <a class="link" [href]="getPath(anexo.ruta)" target="_blank">{{anexo.nombre}}</a>
                </td>
                <td>
                    <p class="body-uno">{{anexo.descripcion}}</p>
                </td>
                <td>
                    <p class="body-uno">{{anexo.fechaCreacion | date:'dd/MM/yyyy' }}</p>
                </td>
                <td class="center">
                    <mat-icon class="pointer" [attr.disabled]="solicitud.estado == estado['Borrador'] ? false : true"
                        svgIcon="papelera-positivo" (click)="onEliminarAnexo(anexo)">
                    </mat-icon>
                </td>
                <td class="center">
                    <a [href]="getPath(anexo.ruta)" [download]="anexo.nombre" target="_blank">
                        <mat-icon class="pointer" svgIcon="descargar">
                        </mat-icon>
                    </a>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div *ngIf="adjuntos.length==0">
        <p class="content body-uno">No se encontraron registros coincidentes</p>
    </div>
    <p-paginator [rows]="pagina.registrosPorPagina" [totalRecords]="pagina.registrosTotales"
        (onPageChange)="onPageChange($event)"></p-paginator>
</div>
<div class="buttons" *ngIf="anexoEmbebido">
    <button class="outlined" (click)="navigate()">VOLVER</button>
</div>
